<script>
    export default {
  
        components: {
        
        },
        created() {
            
        },
        mounted () {
            window.scrollTo(0, 0)
        },
        data() {
            return {
                name: '',
            }
        },
        methods: {
            
        },
    }
</script>
<template>
    <div class="banner" style="margin-top: -248px;">
        <img src="@/assets/Desktop/2About-us/header_Bg2.png" id="" class="onMobile_Header">
        <div class="banner-text animate__animated animate__bounceInDown" style="top: 35%;">
            <h4>About Us</h4>
        </div>
    </div>
    <div class="body-about _About">
        <div class="about" id="about1">
            <div class="text-about">
                <h1>Our Legacy</h1>
                <div class="since">
                    <div class="circle"></div>
                    <div class="circle-text">
                        <span class="text-top">History</span>
                        <span class="text-bottom">Year • 2020</span>
                    </div>
                </div>
                <div class="img-about" id="about-us-mb">
                    <img src="@/assets/Desktop/2About-us/Pic01.png" alt="">
                </div>
                <p>Initiated in [Year], our odyssey across Myanmar's diverse landscapes has been one of reverence. Every
                    excavation, every discovery, is a harmonious dance with the land that has generously shared its
                    bounty with us.</p>
            </div>
            <div class="img-about" id="about-us-pc">
                <img src="@/assets/Desktop/2About-us/Pic01.png" alt="">
            </div>
        </div>
        <div class="about" id="about2">
            <div class="img-about" id="about-us-pc">
                <img src="@/assets/Desktop/2About-us/Pic02.png" alt="">
            </div>
            <div class="text-about">
                <h1>Guardians of The Terrain</h1>
                <div class="since">
                    <div class="circle"></div>
                    <div class="circle-text">
                        <span class="text-top">Vision</span>
                        <span class="text-bottom">Year • 2020</span>
                    </div>
                </div>
                <div class="img-about" id="about-us-mb">
                    <img src="@/assets/Desktop/2About-us/Pic02.png" alt="">
                </div>
                <p>Meet the stalwarts behind our vision: a symphony of geologists, engineers, eco-champions, and
                    indigenous wisdom-bearers. Their collective pursuit? More than just mining – crafting an enduring
                    legacy.</p>
            </div>
        </div>
        <div class="about" id="about3">
            <div class="text-about">
                <h1 style="max-width: 464px;">Innovations and Technology</h1>
                <div class="since">
                    <div class="circle"></div>
                    <div class="circle-text">
                        <span class="text-top">Eco-innovation</span>
                        <span class="text-bottom">Year • 2020</span>
                    </div>
                </div>
                <div class="img-about" id="about-us-mb">
                    <img src="@/assets/Desktop/2About-us/Pic03.png" alt="">
                </div>
                <p>Marrying ancestral knowledge with the prowess of modern technology, we've sculpted a mining narrative
                    that champions both efficiency and ecological mindfulness. Discover our cutting-edge mining
                    technologies and eco-innovations.</p>
            </div>
            <div class="img-about" id="about-us-pc">
                <img src="@/assets/Desktop/2About-us/Pic03.png" alt="">
            </div>
        </div>
    </div>
</template>
<style scoped>
    ._About {
        margin-top: -200px; 
        z-index: 44 !important;
    }
    @media screen and (max-width: 1024px) {
        
        .banner-text {
            margin-top: 75px;
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        ._About {
            margin-top: 10px; 
            z-index: 44 !important;
        }
    }
    @media screen and (max-width: 960px) {
       

        .banner-text {
            margin-top: 75px;
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        ._About {
            margin-top: 150px; 
            z-index: 44 !important;
        }
    }
    @media screen and (max-width: 480px) {
      
        .banner-text {
            margin-top: 5px;
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        ._About {
            margin-top: 50px; 
            z-index: 44 !important;
        }
    }
</style>