<script>
    export default {
  
        components: {
        
        },
        created() {
            
        },
        mounted () {
            window.scrollTo(0, 0)
        },
        data() {
            return {
                name: '',
            }
        },
        methods: {
            
        },
    }
</script>
<template>
    <div class="banner" style="margin-top: -248px;">
        <img src="@/assets/Desktop/2About-us/header_Bg2.png" id="" class="onMobile_Header">
        <div class="banner-text animate__animated animate__bounceInDown" style="top: 35%;">
            <h4>关于我们</h4>
        </div>
    </div>
    <div class="body-about _About">
        <div class="about" id="about1">
            <div class="text-about">
                <h1>我们的遗产</h1>
                <div class="since">
                    <div class="circle"></div>
                    <div class="circle-text">
                        <span class="text-top">历史</span>
                        <span class="text-bottom">年份 • 2020</span>
                    </div>
                </div>
                <div class="img-about" id="about-us-mb">
                    <img src="@/assets/Desktop/2About-us/Pic01.png" alt="">
                </div>
                <p>自[年份]起，我们在缅甸多样化的地貌中的奥德赛是一次充满敬畏的旅程。每一次挖掘，每一次发现，都是与慷慨分享其宝藏的土地和谐共舞。</p>
            </div>
            <div class="img-about" id="about-us-pc">
                <img src="@/assets/Desktop/2About-us/Pic01.png" alt="">
            </div>
        </div>
        <div class="about" id="about2">
            <div class="img-about" id="about-us-pc">
                <img src="@/assets/Desktop/2About-us/Pic02.png" alt="">
            </div>
            <div class="text-about">
                <h1>地形的守护者</h1>
                <div class="since">
                    <div class="circle"></div>
                    <div class="circle-text">
                        <span class="text-top">愿景</span>
                        <span class="text-bottom">年份 • 2020</span>
                    </div>
                </div>
                <div class="img-about" id="about-us-mb">
                    <img src="@/assets/Desktop/2About-us/Pic02.png" alt="">
                </div>
                <p>认识我们愿景背后的坚定支持者：地质学家、工程师、生态冠军和土著智慧持有者的协奏曲。他们的共同追求？不仅仅是采矿——打造一个持久的遗产。</p>
            </div>
        </div>
        <div class="about" id="about3">
            <div class="text-about">
                <h1 style="max-width: 464px;">创新与技术</h1>
                <div class="since">
                    <div class="circle"></div>
                    <div class="circle-text">
                        <span class="text-top">生态创新</span>
                        <span class="text-bottom">年份 • 2020</span>
                    </div>
                </div>
                <div class="img-about" id="about-us-mb">
                    <img src="@/assets/Desktop/2About-us/Pic03.png" alt="">
                </div>
                <p>将祖传知识与现代技术的力量结合，我们塑造了一个既强调效率又注重生态意识的采矿叙事。发现我们的尖端采矿技术和生态创新。</p>
            </div>
            <div class="img-about" id="about-us-pc">
                <img src="@/assets/Desktop/2About-us/Pic03.png" alt="">
            </div>
        </div>
    </div>
</template>
<style scoped>
    ._About {
        margin-top: -200px; 
        z-index: 44 !important;
    }
    @media screen and (max-width: 1024px) {
        .banner-text {
            margin-top: 75px;
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        ._About {
            margin-top: 10px; 
            z-index: 44 !important;
        }
    }
    @media screen and (max-width: 960px) {
        .banner-text {
            margin-top: 75px;
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        ._About {
            margin-top: 150px; 
            z-index: 44 !important;
        }
    }
    @media screen and (max-width: 480px) {
        .banner-text {
            margin-top: 5px;
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        ._About {
            margin-top: 50px; 
            z-index: 44 !important;
        }
    }
</style>