<script>
    export default {
  
        components: {
        
        },
        created() {
            
        },
        mounted () {
            window.scrollTo(0, 0)
        },
        data() {
            return {
                name: '',
            }
        },
        methods: {
            
        },
    }
</script>
<template>
     <div class="banner" id="banner6" style="margin-top: -248px;">
        <img src="@/assets/Desktop/6Contact-Us/Header-BG.png" alt="" class="onMobile_Header">
        <div class="banner-text animate__animated animate__bounceInDown" style="top: 25%;">
            <h1>Contact Us</h1>
            <h2 class="edit_head">Bridging Hemispheres, Nurturing Local Roots</h2>
            <p class="edit_head2">While our endeavors touch global horizons, the heartbeat of Southeast Antimony Industrial Co., Ltd. remains intrinsically connected to our local ethos and sustainable vision. We are a proud miner and supplier of high-quality antimony ore, a critical mineral that serves as a key ingredient in the manufacturing of flame retardants, lead-acid batteries, and various alloys. Our antimony ore, extracted with the utmost precision and responsibility, stands as a testament to our unwavering commitment to fueling the global industrial landscape while championing environmental sustainability.</p>
        </div>
    </div>
    <div class="body-contect">
        <div style="padding: 50px;"></div>
        <div class="map">
            <img src="@/assets/Desktop/6Contact-Us/pic1.png" alt="" >
            <div class="map-text">
                <div class="map-text-sub">
                    <h2 class="headco">Global HeadQuarters </h2>
        <p class="xicon"><img src="https://webstockreview.net/images/clipart-map-google-map-7.png" alt="Map Marker" class="icon "> 1/102, MOO 8, BANGLEN, BANG YAI, NONTHABURI 11140  THAILAND </p>
        <p class="xicon"><img src="https://th.bing.com/th/id/R.229079c8f5240851cece598cf8eee770?rik=JND2PKmC%2fxzB1w&riu=http%3a%2f%2fpngimg.com%2fuploads%2femail%2femail_PNG11.png&ehk=6sNwAjueFilXp3tCehLPbXDGgZgsYZdR7y6dZ3vpSk4%3d&risl=&pid=ImgRaw&r=0" alt="Email" class="icon "> support@saisbs.com</p>
        <p class="xicon"><img src="https://th.bing.com/th/id/R.d7b9f7c593c6c970a18f43a1a9a54a24?rik=yOFf3jTBP%2fMpdQ&riu=http%3a%2f%2ficons.iconarchive.com%2ficons%2fpaomedia%2fsmall-n-flat%2f1024%2fdevice-mobile-phone-icon.png&ehk=M3kYKtDV4p%2bGa73bN2i%2fVVzdjb7EjpT9XrguPtSEb7U%3d&risl=&pid=ImgRaw&r=0" alt="Phone" class="icon ">  <span>+(66)633089999</span></p>
                </div>
                <div class="map-text-sub">
                    <h2 class="headco">Branch Outpost</h2>
                    <p>Locations and addresses of your pivotal international offices.</p>
                </div>
                <div class="map-text-sub">
                    <h2 class="headco">Communication Nexus</h2>
                    <p>An array of channels dedicated to inquiries, collaborations, feedback, and forging future partnerships regarding our antimony</p>
                </div>

            </div>
        </div>
        <div style="padding: 50px;"></div>
    </div>
    <hr>
</template>
<style scoped>

        .xicon {
            font-size: 18px;
            color: #666;
            margin-bottom: 5px;
        }

        .icon {
            width: 20px;
            height: auto;
            vertical-align: middle;
            margin-right: 5px;
        }
    @media screen and (max-width: 960px) {
        .edit_head2[data-v-337105ab] {
            font-size: small;
            padding: 20px;
            width: 80% !important;
            max-width: 900px !important;
            text-align: center !important;
            margin-left: 50px !important;
        }
        html, body {
        overflow-x: hidden !important; /* Disable horizontal scrolling */
        }
        #banner6 .banner-text {
            margin-left: -55% !important;
            width: 100%;
        }
        .body-contect , .main_content , .banner-text {
        overflow-x: hidden; /* Disable horizontal scrolling */
        overflow-y: auto; /* Enable vertical scrolling */
        }
        .onMobile_Header {
            height: 650px;
            width: 300%;
        }
        .banner-text p {
            margin-left: 10%;
        }
        .edit_head{
            font-size: medium;
            margin-left: 20px;
        }
        .edit_head2{
            font-size: small;
            padding: 20px;
            width: 80% !important;
            max-width: 600px !important;
            text-align: center !important;
        }
        .body-contect{
            width: 90% !important;
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
     
        }
        .banner-text > h1 {
            margin-top: 8%;
            display: block;
            margin-left: 20px;
        }
        
        .map {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            width: 70% !important;

        }
        .map > img {
            width: 100%; /* ขนาดภาพที่ปรับให้ขนาดเต็มจอ */
            margin-left: 30px;
        }
        .map-text {
            text-align: center;
            margin-left : 30px !important;
        }
        .headco {
            font-size: large !important;
}
    }
    @media screen and (max-width: 480px) {
        .headco {
    font-size: large !important;
}
        .banner-text > h1 {
            margin-top: 3%;
            display: block;
        }
        .edit_head2{
            font-size: small;
            padding: 20px;
            width: 80% !important;
            max-width: 400px !important;
            text-align: center !important;
        }
    }
</style>