<script>
    export default {
  
        components: {
        
        },
        created() {
            
        },
        mounted () {
            window.scrollTo(0, 0)
        },
        data() {
            return {
                name: '',
            }
        },
        methods: {
            
        },
    }
</script>
<template>
     <div class="banner" id="banner6" style="margin-top: -248px;">
        <img src="@/assets/Desktop/6Contact-Us/Header-BG.png" alt="" class="onMobile_Header">
        <div class="banner-text animate__animated animate__bounceInDown" style="top: 25%;">
            <h1>联系我们</h1>
            <h2>连接两半球，培育本土根源</h2>
            <p>虽然我们的努力触及全球视野，但东南锑业有限公司的心跳仍然与我们的本土精神和可持续愿景密切相连。我们是高品质锑矿石的自豪矿工和供应商，这种关键矿物是生产阻燃剂、铅酸电池和各种合金的关键成分。我们以最高的精确度和责任心提取的锑矿石，证明了我们对于推动全球工业景观同时倡导环境可持续性的坚定承诺。</p>
        </div>
    </div>
    <div class="body-contect">
        <div style="padding: 50px;"></div>
        <div class="map">
            <img src="@/assets/Desktop/6Contact-Us/pic1.png" alt="" >
            <div class="map-text">
                <div class="map-text-sub">
                    <h2 class="headco">全球总部 </h2>
        <p class="xicon"><img src="https://webstockreview.net/images/clipart-map-google-map-7.png" alt="Map Marker" class="icon "> 1/102, MOO 8, BANGLEN, BANG YAI, NONTHABURI 11140  THAILAND</p>
        <p class="xicon"><img src="https://th.bing.com/th/id/R.229079c8f5240851cece598cf8eee770?rik=JND2PKmC%2fxzB1w&riu=http%3a%2f%2fpngimg.com%2fuploads%2femail%2femail_PNG11.png&ehk=6sNwAjueFilXp3tCehLPbXDGgZgsYZdR7y6dZ3vpSk4%3d&risl=&pid=ImgRaw&r=0" alt="Email" class="icon "> support@saisbs.com</p>
        <p class="xicon"><img src="https://th.bing.com/th/id/R.d7b9f7c593c6c970a18f43a1a9a54a24?rik=yOFf3jTBP%2fMpdQ&riu=http%3a%2f%2ficons.iconarchive.com%2ficons%2fpaomedia%2fsmall-n-flat%2f1024%2fdevice-mobile-phone-icon.png&ehk=M3kYKtDV4p%2bGa73bN2i%2fVVzdjb7EjpT9XrguPtSEb7U%3d&risl=&pid=ImgRaw&r=0" alt="Phone" class="icon "> <span>+(66)633089999</span></p>
                </div>
                <div class="map-text-sub">
                    <h2 class="headco">分公司据点</h2>
                    <p>您关键国际办公室的位置和地址。</p>
                </div>
                <div class="map-text-sub">
                    <h2 class="headco">沟通枢纽</h2>
                    <p>专门用于查询、合作、反馈以及就我们的锑建立未来合作伙伴关系的渠道数组。</p>
                </div>

            </div>
        </div>
        <div style="padding: 50px;"></div>
    </div>
    <hr>
</template>
<style scoped>

   .xicon {
            font-size: 18px;
            color: #666;
            
            margin-bottom: 5px; /* เพิ่มระยะห่างด้านล่างของแต่ละย่อหน้า */
        }

        .icon {
            width: 20px;
            height: auto;
            vertical-align: middle;
            margin-right: 5px; /* เพิ่มระยะห่างด้านขวาของไอคอน */
        }
    @media screen and (max-width: 960px) {
        
        .banner-text > h1 {
            margin-top: 8%;
            display: block;
        }
        .banner-text > h2 {
            display: none;
        }
        .banner-text > p {
            display: none;
        }
        .map {
            flex-direction: column;
        }
        .map > img {
            width: 100%;
        }
        .map-text {
            text-align: center;
        }
    }
    @media screen and (max-width: 480px) {
        .banner-text > h1 {
            margin-top: 3%;
            display: block;
        }
    }
</style>