<script>
import { ref, onMounted } from 'vue';
import SlidePage from '@/views/Slide.vue';
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/navigation';
import { Navigation } from 'swiper/modules';

export default {
    setup() {
        const isSmallScreen = ref(false);

        onMounted(() => {
            window.scrollTo(0, 0);
            isSmallScreen.value = window.innerWidth <= 770; 
        });

        return { isSmallScreen };
    },
    components: {
        Swiper,
        SwiperSlide,
        SlidePage,
    },
    created() {
        
    },
    data() {
        return {
            name: 'Home',
            modules: [Navigation],
        }
    },
    methods: {
        onSwiper(swiper){
            console.log(swiper);
        },
        onSlideChange(){
            console.log('slide change');
        },
    },
}
</script>

<template>
   <SlidePage v-if="!isSmallScreen"></SlidePage>
    <!-- ถ้าเป็นมือถือ -->

   
         <img v-else src="../assets/Desktop/1home/banner/Banner1.png" alt="" id="banner6" class="banner_s">
    
    <div class="body-home" id="section1">
        <div class="body-home-main">
            <div class="image-container">
                <img src="../assets/Desktop/1home/body/pic01.png" alt="">
            </div>
            <div class="box-text">
                <h1 class="headco">Introduction</h1>
                <p>Embark on a transformative journey with Southeast Antimony Industrial . As we unveil the treasures beneath Myanmar's
                    terrains, our core values of environmental integrity, cultural preservation, and global partnership
                    drive every decision.</p>
                
            </div>
        </div>
        <div class="body-home-sub" id="body-home-sub1">
            <div class="box-text">
                <h1 class="headco">Business Strategy</h1>
                <p>Our long-term strategy outlines our vision to deliver unparalleled value through sustainable mining
                    practices, ensuring a harmonious relationship with nature and communities.</p>
            </div>
            <div class="image-container">
                <img src="../assets/Desktop/1home/body/pic02.png" alt="">
            </div>
        </div>
        <div class="body-home-sub">
            <div class="image-container">
                <img src="../assets/Desktop/1home/body/pic03.png" alt="">
            </div>
            <div class="box-text">
                <h1 class="headco">Our Commitment</h1>
                <p>Driven by trust, championing innovation, and upholding an unwavering commitment to environmental
                    harmony. Discover the pillars that make us a luminary in sustainable mining on the global stage.</p>
            </div>
        </div>
        <div class="body-home-sub" id="body-home-sub2">
            <div class="box-text">
                <h1 class="headco">Spotlight Section</h1>
                <p>Venture into our world of transformative eco-innovations, community empowerment, and milestones that
                    mark our perpetual evolution in the realm of sustainable mining.</p>
            </div>
            <div class="image-container">
                <img src="@/assets/Desktop/1home/body/pic04.png" alt="">
            </div>
        </div>
    </div>
    <div class="body-home" id="section2" :style="{ marginTop: isSmallScreen ? '30%' : '150px' }">
        <img src="@/assets/Desktop/1home/body/pic05.png" id="section2-bg">

        <div class="overlay" :style="{ marginTop: isSmallScreen ? '10%' : '50px' }">
            <div class="box-text">
                <h1 class="headco">Investor Relations</h1>
                <p>We believe in transparent and meaningful engagements with our investors. Dive into our financial
                    reports,
                    annual reports, and other investor-related information to understand our financial performance and
                    long-term vision.</p>
            </div>
            <h2 class="headco">Testimonial</h2>
            <div class="_Testimonial" align="center">
                <swiper :modules="modules" :slides-per-view="1" :navigation="true" class="sw">
                    <swiper-slide>
                        <div class="_TestimonialArrow" align="center">
                            <img src="@/assets/Desktop/1home/body/inonial-1.png" id="text1">        
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="_TestimonialArrow" align="center">
                            <img src="@/assets/Desktop/1home/body/inonial-2.png" id="text2">
                        </div>
                    </swiper-slide>
                </swiper>
            </div>
        </div>
    </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
.sw {
    margin-left: -12.5% !important;
   
}
.banner_s {
    margin-top: -304px;
    position: relative;
    width: 100%;
    min-height: 500px !important;
}
.swiper-button-next::after {
    color: #333333 !important ;
}

.swiper-button-prev::after {
    color: #333333 !important;
}
.swiper-button-prev, .swiper-button-next {
    color: #333333 !important ;
}
.swiper-slide {
    width: 100% !important;
    height: 100% !important;
    background: transparent !important;
}
._Testimonial {
  
    position: relative; 
    left: 50%; 
    margin-left: -600px !important; 
    margin-top: 50px;
}
._TestimonialArrow {
    width: 680px; 
    position: relative; 
    left: 50%; 
    margin-left: -340px;
}
@media screen and (max-width: 960px) {
    .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    margin: auto !important; 
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

    .sw {
    margin-left: 0px !important;
   
}
    .body-home-main{
        margin-top: 0px !important;
    }
    .swiper-slide {
        width: 100% !important;
        height: 100% !important;
        background: transparent !important;
    }
        ._Testimonial {
            width: 100%; 
            left: 0px !important ; 
    margin-left: 0px !important ; 
      
        }
        ._TestimonialArrow {
            width: 100%; 
            left: 0px !important ; 
    margin-left: 0px !important ; 
        }
        ._Testimonial, ._TestimonialArrow {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    height: 100% !important;
}
    }
    @media screen and (max-width: 480px) {
        ._Testimonial, ._TestimonialArrow {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    height: 100% !important;
}
        .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    margin: auto !important; 
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

        .sw {
    margin-left: 0px !important;
   
}
        .body-home-main{
        margin-top: 0px !important;
    }
    
        .swiper-slide {
        width: 100% !important;
    height: 100% !important;
        background: transparent !important;
    }
        ._Testimonial {
     
            left: 0px !important ; 
    margin-left: 0px !important ; 
        }
        ._TestimonialArrow {
    width: 680px ;
    /* position: relative; */
    left: 0px !important ; 
    margin-left: 0px !important ; 
}
    }
</style>
