<script>
import { ref, onMounted } from 'vue';
import SlidePage from '@/views/Slide.vue';
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/navigation';
import { Navigation } from 'swiper/modules';

export default {
    setup() {
        const isSmallScreen = ref(false);

        onMounted(() => {
            window.scrollTo(0, 0);
            isSmallScreen.value = window.innerWidth <= 770; 
        });

        return { isSmallScreen };
    },
    components: {
        Swiper,
        SwiperSlide,
        SlidePage,
    },
    created() {
        
    },
    data() {
        return {
            name: 'Home',
            modules: [Navigation],
        }
    },
    methods: {
        onSwiper(swiper){
            console.log(swiper);
        },
        onSlideChange(){
            console.log('slide change');
        },
    },
}
</script>

<template>
      <SlidePage v-if="!isSmallScreen"></SlidePage>
      <img v-else src="../assets/Desktop/1home/banner/Banner1.png" alt="" id="banner6" class="banner_s">
    <div class="body-home" id="section1">
        <div class="body-home-main">
            <div class="image-container">
                <img src="@/assets/Desktop/1home/body/pic01.png" alt="">
            </div>
            <div class="box-text">
                <h1 class="headco">简介</h1>
                <p>与东南锑业一起，开启一段变革之旅。当我们揭示缅甸地下的宝藏时，环境完整性、文化保护和全球伙伴关系的核心价值观指导我们的每一个决策。</p>
                
            </div>
        </div>
        <div class="body-home-sub" id="body-home-sub1">
            <div class="box-text">
                <h1 class="headco">商业策略</h1>
                <p>我们的长期策略概述了我们的愿景，通过可持续的采矿实践交付无与伦比的价值，确保与自然和社区的和谐关系。</p>
            </div>
            <div class="image-container">
                <img src="@/assets/Desktop/1home/body/pic02.png" alt="">
            </div>
        </div>
        <div class="body-home-sub">
            <div class="image-container">
                <img src="@/assets/Desktop/1home/body/pic03.png" alt="">
            </div>
            <div class="box-text">
                <h1 class="headco">我们的承诺</h1>
                <p>以信任为驱动，倡导创新，并坚定不移地致力于环境和谐。发现使我们在全球可持续采矿领域成为先锋的支柱。</p>
            </div>
        </div>
        <div class="body-home-sub" id="body-home-sub2">
            <div class="box-text">
                <h1 class="headco">聚焦板块</h1>
                <p>探索我们的转型生态创新、社区赋权以及标志着我们在可持续采矿领域永恒进化的里程碑世界。</p>
            </div>
            <div class="image-container">
                <img src="@/assets/Desktop/1home/body/pic04.png" alt="">
            </div>
        </div>
    </div>
    <div class="body-home" id="section2" :style="{ marginTop: isSmallScreen ? '30%' : '150px' }">
        <img src="@/assets/Desktop/1home/body/pic05.png" id="section2-bg">

        <div class="overlay" :style="{ marginTop: isSmallScreen ? '10%' : '50px' }">
            <div class="box-text">
                <h1 class="headco">投资者关系</h1>
                <p>我们相信与投资者进行透明和有意义的互动。深入了解我们的财务报告、年度报告和其他与投资者相关的信息，以理解我们的财务表现和长期愿景。</p>
            </div>
            <h2 class="headco">见证</h2>
            <div class="_Testimonial">
                <swiper
                :modules="modules"
                :slides-per-view="1"
                :navigation="true"
                >
                    <swiper-slide>
                        <div class="_TestimonialArrow" align="center">
                            <img src="@/assets/Desktop/1home/body/inonial-1.png" id="text1">        
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="_TestimonialArrow" align="center">
                            <img src="@/assets/Desktop/1home/body/inonial-2.png" id="text2">
                        </div>
                    </swiper-slide>
                </swiper>
            </div>
        </div>
    </div>
 
</template>
<style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
.sw {
    margin-left: -12.5% !important;
   
}
.banner_s {
    margin-top: -304px;
    position: relative;
    width: 100%;
    min-height: 500px !important;
}
.swiper-button-next::after {
    color: #333333 !important ;
}

.swiper-button-prev::after {
    color: #333333 !important;
}
.swiper-button-prev, .swiper-button-next {
    color: #333333 !important ;
}
.swiper-slide {
    width: 100% !important;
    height: 100% !important;
    background: transparent !important;
}
._Testimonial {
  
    position: relative; 
    left: 50%; 
    margin-left: -600px !important; 
    margin-top: 50px;
}
._TestimonialArrow {
    width: 680px; 
    position: relative; 
    left: 50%; 
    margin-left: -340px;
}
@media screen and (max-width: 960px) {
    .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    margin: auto !important; 
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

    .sw {
    margin-left: 0px !important;
   
}
    .body-home-main{
        margin-top: 0px !important;
    }
    .swiper-slide {
        width: 100% !important;
        height: 100% !important;
        background: transparent !important;
    }
        ._Testimonial {
            width: 100%; 
            left: 0px !important ; 
    margin-left: 0px !important ; 
      
        }
        ._TestimonialArrow {
            width: 100%; 
            left: 0px !important ; 
    margin-left: 0px !important ; 
        }
        ._Testimonial, ._TestimonialArrow {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    height: 100% !important;
}
    }
    @media screen and (max-width: 480px) {
        ._Testimonial, ._TestimonialArrow {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    height: 100% !important;
}
        .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    margin: auto !important; 
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
}

        .sw {
    margin-left: 0px !important;
   
}
        .body-home-main{
        margin-top: 0px !important;
    }
    
        .swiper-slide {
        width: 100% !important;
    height: 100% !important;
        background: transparent !important;
    }
        ._Testimonial {
     
            left: 0px !important ; 
    margin-left: 0px !important ; 
        }
        ._TestimonialArrow {
    width: 680px ;
    /* position: relative; */
    left: 0px !important ; 
    margin-left: 0px !important ; 
}
    }
</style>
