<script>
    export default {
  
        components: {
        
        },
        created() {
            
        },
        mounted () {
            window.scrollTo(0, 0)
        },
        data() {
            return {
                name: '',
            }
        },
        methods: {
            
        },
    }
</script>
<template>
     <div class="banner" style="margin-top: -248px;">
        <img src="@/assets/Desktop/4Our-Mining-Process/Header-BG3.png" alt="" class="onMobile_Header_OMP">
            
                <div align="center" class="banner-text animate__animated animate__bounceInDown" style="top: 35%;">
            <h1 style="margin-right:2.1cap;" >我们矿物的奥德赛</h1>
            <p align="center">跟随我们一起追踪我们的锑矿石从缅甸原始土壤到全球各地工业的复杂旅程。</p>
        
                </div>
           
         
        
    </div>
    <div class="body-mining">
        <h1 class="headco">深入了解我们的采矿过程</h1>
        <div class="row-all">
            <div class="row" id="row1">
                <div class="row-img">
                    <img src="@/assets/Desktop/4Our-Mining-Process/Group1.png" alt="">
                </div>
                <div class="row-text">
                    <h1 class="headco">1. 勘探</h1>
                    <p>结合古老技术与科技的力量，我们准确地定位潜在地点，同时密切关注生态平衡。</p>
                </div>
            </div>
            <div class="row" id="row2">
                <div class="row-img">
                    <img src="@/assets/Desktop/4Our-Mining-Process/Group2.png" alt="">
                </div>
                <div class="row-text">
                    <h1 class="headco">2. 提取</h1>
                    <p>我们提取的每一个阶段都强调精确、安全和对地球母亲的深刻尊重，使我们发掘的每一颗宝石和矿物都成为和谐的象征。</p>
                </div>
            </div>
            <div class="row" id="row3">
                <div class="row-text">
                    <h1 class="headco">3. 加工</h1>
                    <p>结合古老技术与科技的力量，我们准确地定位潜在地点，同时密切关注生态平衡。</p>
                </div>
                <div class="row-img">
                    <img src="@/assets/Desktop/4Our-Mining-Process/Group3.png" alt="">
                </div>

            </div>
            <div class="row" id="row4">
                <div class="row-text">
                    <h1 class="headco">4. 运输</h1>
                    <p>打造物流路径，优先考虑准时性，同时热切减少碳排放。可持续性的精神渗透我们走过的每一英里。</p>
                </div>
                <div class="row-img">
                    <img src="@/assets/Desktop/4Our-Mining-Process/Group4.png" alt="">
                </div>

            </div>
            <center>
            <div class="row setgap" id="row5"  style="text-align: center; width: 75%;">
                <div class="row-img2" style="margin-left: 150px;" >
                    <img src="@/assets/Desktop/4Our-Mining-Process/Group5.png" alt="" class="Res_phone">
                </div>
                <div class="row-text2" >
                    <h1 class="headco">5. 土地复垦</h1>
                    <p>采矿后，我们与土地的联系更加紧密。通过精心的复兴努力，我们确保地形不仅恢复，而且繁荣。</p>
                </div>
            </div>
        </center>
            <div class="line-center"></div>
            <div class="ellipse" id="ellipse1"></div>
            <div class="ellipse" id="ellipse2"></div>
            <div class="ellipse" id="ellipse3"></div>
            <div class="ellipse" id="ellipse4"></div>
            <div class="ellipse" id="ellipse5"></div>
                <!-- style="width: 35px; height: 35px; left: 954px; top: 1358px; position: absolute; background: #5B5F62; border-radius: 9999px"> -->
            
        </div>

    </div>
</template>
<style scoped>
.setgap{
    gap:20px !important;
}

    @media screen and (max-width: 960px) {
        .body-mining .row-all .row .row-text {
            width: 100%;
        }
        .line-center, .ellipse {
            display: none;
        }
        .banner-text {
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        .banner-text > p {
            width: 100%;
        }
        .row-all {
            display: flex;
            flex-direction: column;
        }
        .row {
            margin-top: 25px;
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        .row-img {
            margin-top: 25px;
            margin-bottom: 25px;
            position: relative;
        }
        .row-img > img {
            width: 100%;
        }
        .row-text {
            margin-top: 25px;
            margin-bottom: 25px;
            width: 100%;
            height: 200px;
            text-align: center;
        }
    }
    @media screen and (max-width: 480px) {
        .banner-text {
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        .banner-text > h1 {
            font-size: 30px;
            width: 100%;
        }
        .banner-text > p {
            display: none;
            width: 100%;
        }
    }
</style>