<script>
import { ref, onMounted } from 'vue';
import SlidePage from '@/views/Slide.vue';
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/navigation';
import { Navigation } from 'swiper/modules';

export default {
    setup() {
        const isSmallScreen = ref(false);

        onMounted(() => {
            window.scrollTo(0, 0);
            isSmallScreen.value = window.innerWidth <= 770; 
        });

        return { isSmallScreen };
    },
    components: {
        Swiper,
        SwiperSlide,
        SlidePage,
    },
    created() {
        
    },
    data() {
        return {
            name: 'Home',
            modules: [Navigation],
        }
    },
    methods: {
        onSwiper(swiper){
            console.log(swiper);
        },
        onSlideChange(){
            console.log('slide change');
        },
    },
}
</script>
<template>
     <div class="banner" style="margin-top: -248px;">
        <img src="@/assets/Desktop/4Our-Mining-Process/Header-BG3.png" alt="" class="onMobile_Header_OMP">
            
                <div align="center" class="banner-text animate__animated animate__bounceInDown" style="top: 35%;">
            <h1 style="margin-right:2.1cap;" >The Odyssey of Our Minerals</h1>
            <p align="center">Journey with us as we trace the intricate voyage of our antimony ore, right from the virgin soils of
                Myanmar to industries across the globe.</p>
        
                </div>
           
         
        
    </div>
    <div class="body-mining">
        <h1 class="headco">Deep Dive into Our Mining Process</h1>
        <div class="row-all">
            <div class="row" id="row1">
                <div class="row-img">
                    <img src="@/assets/Desktop/4Our-Mining-Process/Group1.png" alt="">
                </div>
                <div class="row-text">
                    <h1 class="headco">1. Exploration</h1>
                    <p>Uniting time-honored techniques with the power of technology, we pinpoint prospective sites with
                        a
                        keen eye on ecological balance.</p>
                </div>
            </div>
            <div class="row" id="row2">
                <div class="row-img">
                    <img src="@/assets/Desktop/4Our-Mining-Process/Group2.png" alt="">
                </div>
                <div class="row-text">
                    <h1 class="headco">2. Extraction</h1>
                    <p>Every phase of our extraction is underlined by precision, safety, and deep-seated respect for
                        Mother Earth, making every gem and mineral we uncover a symbol of harmony.</p>
                </div>
            </div>
            <div class="row" id="row3">

                 <!--Check หน้าจอ-->
                <div v-if="!isSmallScreen" class="row-text">
                    <h1 class="headco">3. Processing</h1>
                    <p>Uniting time-honored techniques with the power of technology, we pinpoint prospective sites with
                        a
                        keen eye on ecological balance.</p>
                </div>

                <div v-else class="row-img">
                    <img src="@/assets/Desktop/4Our-Mining-Process/Group3.png" alt="">
                </div>

          
                        <!--Check หน้าจอ-->
                <div v-if="!isSmallScreen"  class="row-img">
                    <img src="@/assets/Desktop/4Our-Mining-Process/Group3.png" alt="">
                </div>
                <div v-else class="row-text">
                    <h1 class="headco">3. Processing</h1>
                    <p>Uniting time-honored techniques with the power of technology, we pinpoint prospective sites with
                        a
                        keen eye on ecological balance.</p>
                </div>
            </div>
            <div class="row" id="row4">

                  <!--Check หน้าจอ-->
                <div v-if="!isSmallScreen"  class="row-text">
                    <h1 class="headco">4. Transportation</h1>
                    <p>Crafting logistics pathways that prioritize punctuality while ardently reducing carbon emissions.
                        The spirit of sustainability is ingrained in every mile we traverse.</p>
                </div>
                <div v-else  class="row-img">
                    <img src="@/assets/Desktop/4Our-Mining-Process/Group4.png" alt="">
                </div>

                  <!--Check หน้าจอ-->
                <div v-if="!isSmallScreen"  class="row-img">
                    <img src="@/assets/Desktop/4Our-Mining-Process/Group4.png" alt="">
                </div>

                <div v-else class="row-text">
                    <h1 class="headco">4. Transportation</h1>
                    <p>Crafting logistics pathways that prioritize punctuality while ardently reducing carbon emissions.
                        The spirit of sustainability is ingrained in every mile we traverse.</p>
                </div>

            </div>
            <center>
            <div class="row setgap" id="row5"  style="text-align: center; width: 75%;">
                <div class="row-img2s"  >
                    <img src="@/assets/Desktop/4Our-Mining-Process/Group5.png" alt="" class="Res_phone">
                </div>
                <div class="row-text2" >
                    <h1 class="headco">5. Reclamation</h1>
                    <p>Post-mining, our bond with the land intensifies. Through meticulous rejuvenation endeavors, we
                        ensure the terrain not only recovers but flourishes.</p>
                </div>
            </div>
        </center>
            <div class="line-center"></div>
            <div class="ellipse" id="ellipse1"></div>
            <div class="ellipse" id="ellipse2"></div>
            <div class="ellipse" id="ellipse3"></div>
            <div class="ellipse" id="ellipse4"></div>
            <div class="ellipse" id="ellipse5"></div>
     
            
        </div>

    </div>
</template>
<style scoped>
.row-img2s{
    margin-left: 150px;
}
.setgap{
    gap:20px !important;
}

    @media screen and (max-width: 960px) {
        .row-img2s{
            margin-left: 0px !important;
        }
        h1 , p{
            text-align: center !important;
            width: 95%;
        }
        
        .body-mining .row-all .row .row-text {
            width: 100%;
        }
        .line-center, .ellipse {
            display: none;
        }
        .banner-text {
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        .banner-text > p {
            width: 100%;
        }
        .row-all {
            display: flex;
            flex-direction: column;
        }
        .row {
            margin-top: 25px;
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        .row-img {
            margin-top: 25px;
            margin-bottom: 25px;
            position: relative;
        }
        .row-img > img {
            width: 100%;
        }
        .row-text {
            margin-top: 25px;
            margin-bottom: 25px;
            width: 100%;
            height: 200px;
            text-align: center;
        }
    }
    @media screen and (max-width: 480px) {
        .banner-text {
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        .banner-text > h1 {
            font-size: 30px;
            width: 100%;
        }
        .banner-text > p {
            display: none;
            width: 100%;
        }
    }
</style>