<script>

    import { Swiper, SwiperSlide } from 'swiper/vue';
    import 'swiper/css';

    import 'swiper/css/effect-coverflow';
    import 'swiper/css/pagination';
    import 'swiper/css/navigation';
   
    import { EffectCoverflow, Navigation, Pagination } from 'swiper/modules';
    
    export default {
  
        components: {
            Swiper,
            SwiperSlide,
        },
        
        mounted() {
  this.swiper = new SwiperCore(this.$refs.mySwiper, {
    effect: 'coverflow',
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 'auto',
    initialSlide: 1,
    spaceBetween: 750,
    coverflowEffect: {
      rotate: 0,
      stretch: 0,
      depth: 100,
      modifier: 10,
      slideShadows: false,
    },
    pagination: false,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    modules: this.modules,
  });
  window.scrollTo(0, 0)
},
        mounted () {
            window.scrollTo(0, 0)
        },
        data() {
            return {
                name: '',
                modules: [Navigation, EffectCoverflow, Pagination],
          
                onSwiper: null, // Define the property onSwiper
                onSlideChange: null, // Define the property onSlideChange
    
            }
        },
        methods: {
            imgSlider(imageSrc, objectId) {
                // เปลี่ยนรูปภาพโดยการเปลี่ยน src ของอิลิเมนต์รูปภาพ
                document.getElementById('object-image').src = imageSrc;
                
                // ลบคลาส 'active' จากวัตถุที่มีคลาส 'active'
                const activeObject = document.querySelector('.object.active');
                activeObject.classList.remove('active');

                document.getElementById(objectId).classList.add('active');
            },
        },
    }
</script>
<template>
<div style="background-color: #e2e2e2;">
    <div class="banner" style="margin-top: -248px;">
        <img src="@/assets/Desktop/3Our-Product/Header_BG2.png" alt="" class="onMobile_Header_OP">
        <div class="banner-text animate__animated animate__bounceInDown" style="top: 35%;">
            <h3>我们的产品</h3>
        </div>
    </div>
    <h1 class="title">锑矿石</h1>
    <div class="swiper-container">
   
       <swiper
        ref="mySwiper"
        :effect="'coverflow'"
        :grabCursor="true"
        :centeredSlides="true"
        :slidesPerView="'auto'"
        :initialSlide="1"
        :space-between="750"
        :navigation="{ nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' }"
        :coverflowEffect="{
          rotate: 0,
          stretch: 0,
          depth: 100,
          modifier: 10,
          slideShadows: false,
        }"
        :pagination="false"
        :modules="modules"
        class="mySwiper"
      >
        <!-- Slides -->
        <swiper-slide>
          <img class="genh" src="@/assets/Desktop/3Our-Product/ore1-1.png" />
        </swiper-slide>
        <swiper-slide>
          <img class="genh" src="@/assets/Desktop/3Our-Product/ore2-1.png" />
        </swiper-slide>
        <swiper-slide>
          <img class="genh" src="@/assets/Desktop/3Our-Product/ore3-1.png" />
        </swiper-slide>

        <!-- Navigation arrows -->
        <div style="color:black !important" class="swiper-button-next"></div>
        <div style="color:black !important" class="swiper-button-prev"></div>
      </swiper>
    </div>
    <p class="detail">在东南锑业有限公司，我们引领着采矿和供应锑矿石的前沿，这是一种高度多用途且珍贵的类金属。锑，其符号为Sb，原子序数为51，是众多现代应用中不可或缺的成分。
    </p>
    <!-- <div class="body-antimony">
        <h1>Antimony Ore</h1>
        <div class="mining-img">
            <div class="object-show">
                <img src="@/assets/Desktop/3Our-Product/ore2-1920.png" class="ore" id="object-image">
            </div>
            <div class="object-box">
                <ul class="object-all">
                    <li class="object" id="object1">
                        <img src="@/assets/Desktop/3Our-Product/ore1-1.png" @click="imgSlider('src/assets/Desktop/3Our-Product/ore1-1920.png', 'object1');">
                    </li>
                    <li class="object active" id="object2">
                        <img src="@/assets/Desktop/3Our-Product/ore2-1.png" @click="imgSlider('src/assets/Desktop/3Our-Product/ore2-1920.png', 'object2');">
                    </li>
                    <li class="object" id="object3">
                        <img src="@/assets/Desktop/3Our-Product/ore3-1.png" @click="imgSlider('src/assets/Desktop/3Our-Product/ore3-1920.png', 'object3');">
                    </li>
                </ul>
            </div>
        </div>
        <p>Fueling Global Innovations At [Company Name], we are at the forefront of mining and supplying antimony ore, a
            highly versatile and valuable metalloid. Antimony, with its symbol Sb and atomic number 51, forms a crucial
            ingredient in a multitude of modern-day applications.</p>
    </div> -->
    <div class="key-characteristics">
        <h1 class="headco">关键特性</h1>
        <p>锑以其出色的性质而闻名，包括</p>
        <div class="key-icon-all">
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/Key-Charactor/icon1.png" alt="">
                <h5 class="headco">热稳定性</h5>
                <p>使其成为阻燃剂中的重要组成部分，阻燃剂用于减缓商业产品中火焰的蔓延。</p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/Key-Charactor/icon2.png" alt="">
                <h5 class="headco">金属强化剂</h5>
                <p>与其他金属如铅或锌合金时，锑显著提高硬度和强度。</p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/Key-Charactor/icon3.png" alt="">
                <h5 class="headco">低反应性</h5>
                <p>其抵抗化学品反应的特性使其成为涂层、陶瓷和玻璃的首选材料。</p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/Key-Charactor/icon4.png" alt="">
                <h5 class="headco">导电性控制</h5>
                <p>锑化合物在半导体行业中用于微调材料的导电性。</p>
            </div>
        </div>
    </div>
    <div class="key-characteristics">
        <h1 class="headco">核心应用</h1>
        <p>我们的锑矿石在广泛的行业中找到了应用</p>
        <div class="key-icon-all">
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/core-appication/icon1.png" alt="">
                <h5 class="headco">阻燃剂</h5>
                <p>锑化合物用于阻燃剂，减缓塑料、纺织品和电子产品中火势的蔓延。</p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/core-appication/icon2.png" alt="">
                <h5 class="headco">铅酸电池</h5>
                <p>锑用于改善铅酸电池的充电特性并增强耐用性。</p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/core-appication/icon3.png" alt="">
                <h5 class="headco">合金</h5>
                <p>与其他金属合金化可以增强硬度，使其理想用于轴承、子弹和电缆护套。</p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/core-appication/icon4.png" alt="">
                <h5 class="headco">玻璃和陶瓷</h5>
                <p>在玻璃和陶瓷中使用锑化合物有助于脱色、精炼和提高材料性能。
                </p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/core-appication/icon5.png" alt="">
                <h5 class="headco">半导体</h5>
                <p>锑化合物在半导体行业中用于微调材料的导电性。
                </p>
            </div>
        </div>
    </div>
    <div class="global-supply">
        <h1 class="headco">全球供应</h1>
        <p>我们致力于确保可靠的锑矿石供应，以满足全球不断增长的需求。我们在缅甸的采矿作业强调环境可持续性和社区参与，确保我们在为当地经济做出积极贡献的同时，遵循国际生态意识采矿标准。</p>
        <img src="@/assets/Desktop/3Our-Product/pic1.png" alt="">
    </div>
    <div class="quality-assurance">
        <img src="@/assets/Desktop/3Our-Product/pic2.png" alt="">
        <div class="quality-text">
            <h1>质量保证</h1>
            <p>我们严格的质量控制协议确保我们供应的每一批锑矿石都符合最高的纯度和一致性标准，使我们成为全球各行业的可信赖伙伴。</p>
        </div>
    </div>
    <div class="environmental-responsibility">
        <img src="@/assets/Desktop/3Our-Product/pic3-BG.png" alt="">
        <div class="environmental">
            <img src="@/assets/Desktop/3Our-Product/Myanmar-Map-OutLine.png" alt="">
            <div class="environmental-text">
                <h1>环境责任</h1>
                <p>符合我们环境管理的理念，我们的锑矿作业旨在最小化生态足迹，确保我们为更绿色、更可持续的全球工业景观做出贡献。</p>
            </div>
        </div> 
    </div>
</div>
</template>
<style scoped>
.genh {
 
 max-height: 700px !important;
}
.swiper-slide {
    width: 100%;
    object-fit: none;
    max-height: 700px !important;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 40px; /* Increase width */
  height: 40px; /* Increase height */
  margin-top: -20px;
  background: none; /* Remove background */
  color: #333333 !important ;
  border: none; /* Remove border */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.swiper-button-prev::after {
    color: #333333 !important ;
    width : 50px;
    height : 85px;
}

.swiper-button-next::after {
    color: #333333 !important ;
    width: 50px;
    height: 85px;
}

.swiper-button-prev::before {
    color: #333333 !important ;
    width : 50px;
    height : 85px;
}

.swiper-button-next::before {
    color: #333333 !important ;
    width: 50px;
    height: 85px;
}
.swiper-button-prev {
    color: #333333 !important ;
    width : 50px;
    height : 85px;
}

.swiper-button-next {
 
    width: 50px;
    height: 85px;
} 

.swiper-button-prev::after {
   
    color: #333333 !important ;
}
.swiper-button-next::after {
    
    color: #333333 !important ;
}
    .environmental{
        height: 100%;
    }
    .title {
        width: 500px;
        left: 50%;
        margin-left: -250px;
        position: relative;
        text-align: center;
    }
    .detail {
        width: 1000px;
        left: 50%;
        margin-left: -500px;
        position: relative;
    }
    .swiper-container {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        left: 0;
        margin-left: 0;
        position: relative;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 600px;
        height: 600px;
    }
    .swiper-slide > img {
        width: 100%;
        object-fit: none;
    }
    @media screen and (max-width: 960px) {
        .banner-text {
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        .detail {
            width: 100%;
            left: 0;
            margin-left: 5px;
            position: relative;
        }
        .key-characteristics {
            width: 100%;
            margin-top: 50px;
            display: grid;
            align-items: center;
            justify-items: center;
        }
        .key-characteristics > p  {
           margin-left: 5px;
        }
        .key-icon-all {
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .key-icon img {
           width: 152px;
           position: relative;
           left: 50%;
           margin-left: -76px;
        }
        .key-icon p {
            width: 100%;
            text-align: center;
        }
        .global-supply {
            width: 100%;
            margin-top: 50px;
            text-align: center;
            display: grid;
            justify-items: center;
        }

        .global-supply p {
            width: 100%;
        }

        .global-supply > img {
            width: 100%;
            margin-top: 50px;
        }

        .quality-assurance {
            width: 100%;
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .quality-assurance p {
            width: 100%;
        }

        .quality-text {
            margin-left: 20px;
            margin-top: 75px;
            line-height: 35px;
        }
        .environmental-responsibility {
            position: relative;
            height: 900px;
        }
        .environmental-responsibility > img {
            width: 100%;
            height: 900px;
        }
        .environmental {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 0;
            left: 0;
            align-items: center;
            color: #ffffff;
        }
        .environmental-text > p {
            width: 100%;
        }
    }
    @media screen and (max-width: 480px) {
        .title {
            width: 100%;
        }
        .swiper-slide {
            background-position: center;
            background-size: 300px 300px;
            width: 300px;
            height: 300px;
        }
        .swiper-slide > img {
            width: 100%;
            object-fit: fill;
        }
    }
</style>