<script>

    import { Swiper, SwiperSlide } from 'swiper/vue';
    import 'swiper/css';

    import 'swiper/css/effect-coverflow';
    import 'swiper/css/pagination';
    import 'swiper/css/navigation';
   
    import { EffectCoverflow, Navigation, Pagination } from 'swiper/modules';
    
    export default {
  
        components: {
            Swiper,
            SwiperSlide,
        },
        
        mounted() {
  this.swiper = new SwiperCore(this.$refs.mySwiper, {
    effect: 'coverflow',
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 'auto',
    initialSlide: 1,
    spaceBetween: 750,
    coverflowEffect: {
      rotate: 0,
      stretch: 0,
      depth: 100,
      modifier: 10,
      slideShadows: false,
    },
    pagination: false,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    modules: this.modules,
  });
  window.scrollTo(0, 0)
},
        mounted () {
            window.scrollTo(0, 0)
        },
        data() {
            return {
                name: '',
                modules: [Navigation, EffectCoverflow, Pagination],
          
                onSwiper: null, // Define the property onSwiper
                onSlideChange: null, // Define the property onSlideChange
    
            }
        },
        methods: {
            imgSlider(imageSrc, objectId) {
                // เปลี่ยนรูปภาพโดยการเปลี่ยน src ของอิลิเมนต์รูปภาพ
                document.getElementById('object-image').src = imageSrc;
                
                // ลบคลาส 'active' จากวัตถุที่มีคลาส 'active'
                const activeObject = document.querySelector('.object.active');
                activeObject.classList.remove('active');

                document.getElementById(objectId).classList.add('active');
            },
        },
    }
</script>
<template>
<div style="background-color: #e2e2e2;">
    <div class="banner" style="margin-top: -248px;">
        <img src="@/assets/Desktop/3Our-Product/Header_BG2.png" alt="" class="onMobile_Header_OP">
        <div class="banner-text animate__animated animate__bounceInDown" style="top: 35%;">
            <h3>Our Product</h3>
        </div>
    </div>
    <h1 class="title ">Antimony Ore</h1>
    <div class="swiper-container">
   
       <swiper
        ref="mySwiper"
        :effect="'coverflow'"
        :grabCursor="true"
        :centeredSlides="true"
        :slidesPerView="'auto'"
        :initialSlide="1"
        :space-between="750"
        :navigation="{ nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' }"
        :coverflowEffect="{
          rotate: 0,
          stretch: 0,
          depth: 100,
          modifier: 10,
          slideShadows: false,
        }"
        :pagination="false"
        :modules="modules"
        class="mySwiper"
      >
        <!-- Slides -->
        <swiper-slide>
          <img class="genh" src="@/assets/Desktop/3Our-Product/ore1-1.png" />
        </swiper-slide>
        <swiper-slide>
          <img class="genh" src="@/assets/Desktop/3Our-Product/ore2-1.png" />
        </swiper-slide>
        <swiper-slide>
          <img class="genh" src="@/assets/Desktop/3Our-Product/ore3-1.png" />
        </swiper-slide>

        <!-- Navigation arrows -->
        <div style="color:black !important" class="swiper-button-next"></div>
        <div style="color:black !important" class="swiper-button-prev"></div>
      </swiper>
    </div>
    <p class="detail pdetail">Fueling Global Innovations At Southeast Antimony Industrial Co., Ltd. we are at the forefront of mining and supplying antimony ore, a
            highly versatile and valuable metalloid. Antimony, with its symbol Sb and atomic number 51, forms a crucial
            ingredient in a multitude of modern-day applications.
    </p>
    <!-- <div class="body-antimony">
        <h1>Antimony Ore</h1>
        <div class="mining-img">
            <div class="object-show">
                <img src="@/assets/Desktop/3Our-Product/ore2-1920.png" class="ore" id="object-image">
            </div>
            <div class="object-box">
                <ul class="object-all">
                    <li class="object" id="object1">
                        <img src="@/assets/Desktop/3Our-Product/ore1-1.png" @click="imgSlider('src/assets/Desktop/3Our-Product/ore1-1920.png', 'object1');">
                    </li>
                    <li class="object active" id="object2">
                        <img src="@/assets/Desktop/3Our-Product/ore2-1.png" @click="imgSlider('src/assets/Desktop/3Our-Product/ore2-1920.png', 'object2');">
                    </li>
                    <li class="object" id="object3">
                        <img src="@/assets/Desktop/3Our-Product/ore3-1.png" @click="imgSlider('src/assets/Desktop/3Our-Product/ore3-1920.png', 'object3');">
                    </li>
                </ul>
            </div>
        </div>
        <p>Fueling Global Innovations At [Company Name], we are at the forefront of mining and supplying antimony ore, a
            highly versatile and valuable metalloid. Antimony, with its symbol Sb and atomic number 51, forms a crucial
            ingredient in a multitude of modern-day applications.</p>
    </div> -->
    <div class="key-characteristics">
        <h1 class="headco">Key Characteristics</h1>
        <p>Antimony is known for its excellent properties including</p>
        <div class="key-icon-all">
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/Key-Charactor/icon1.png" alt="">
                <h5 class="headco">Thermal stability</h5>
                <p class="pdetail">Making it a vital component in flame retardants, which are used to reduce the spread of flames in commercial products.</p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/Key-Charactor/icon2.png" alt="">
                <h5 class="headco">Metal Strengthener</h5>
                <p class="pdetail">When alloyed with other metals such as lead or zinc, antimony significantly enhances hardness and strength.</p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/Key-Charactor/icon3.png" alt="">
                <h5 class="headco">Low Reactivity</h5>
                <p class="pdetail">Its resistance to reacting with chemicals makes it a preferred choice for coatings, ceramics, and glass.</p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/Key-Charactor/icon4.png" alt="">
                <h5 class="headco">Conductivity Control</h5>
                <p class="pdetail">Antimony compounds are used in the semiconductor industry to fine-tune the conductivity of materials.</p>
            </div>
        </div>
    </div>
    <div class="key-characteristics">
        <h1 class="headco">Core Applications</h1>
        <p>Our antimony ore finds its application in a broad spectrum of industries</p>
        <div class="key-icon-all">
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/core-appication/icon1.png" alt="">
                <h5 class="headco">Flame Retardants</h5>
                <p class="pdetail">Antimony compounds are used in flame retardants to reduce the spread of fire in materials like plastics, textiles, and electronics.</p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/core-appication/icon2.png" alt="">
                <h5 class="headco">Lead-Acid Batteries</h5>
                <p class="pdetail">Antimony is used to improve the charging characteristics and enhance the durability of lead-acid batteries.</p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/core-appication/icon3.png" alt="">
                <h5 class="headco">Alloys</h5>
                <p class="pdetail">Alloying antimony with other metals enhances hardness, making it ideal for use in bearings, bullets, and cable sheathing.</p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/core-appication/icon4.png" alt="">
                <h5 class="headco">Glass & Ceramics</h5>
                <p class="pdetail">The use of antimony compounds in glass and ceramics helps in decolorizing, refining, and enhancing the material's properties.
                </p>
            </div>
            <div class="key-icon">
                <img src="@/assets/Desktop/3Our-Product/core-appication/icon5.png" alt="">
                <h5 class="headco">Semiconductors</h5>
                <p class="pdetail">Antimony compounds are used in the semiconductor industry to fine-tune the conductivity of materials.
                </p>
            </div>
        </div>
    </div>
    <div class="global-supply">
        <h1 class="headco">Global Supply</h1>
        <p >We are committed to ensuring a reliable supply of antimony ore to meet the growing global demand. Our mining operations in Myanmar are conducted with a strong emphasis on environmental sustainability and community engagement, ensuring that we contribute positively to the local economy while adhering to international standards of eco-conscious mining.</p>
        <img src="@/assets/Desktop/3Our-Product/pic1.png" alt="">
    </div>
    <div class="quality-assurance">
        <img src="@/assets/Desktop/3Our-Product/pic2.png" alt="">
        <div class="quality-text">
            <h1 class="headco">Quality Assurance</h1>
            <p >Our rigorous quality control protocols ensure that every batch of antimony ore we supply meets the highest standards of purity and consistency, making us a trusted partner for industries around the world.</p>
        </div>
    </div>
    <div class="environmental-responsibility">
        <img src="@/assets/Desktop/3Our-Product/pic3-BG.png" alt="">
        <div class="environmental">
            <img src="@/assets/Desktop/3Our-Product/Myanmar-Map-OutLine.png" alt="">
            <div class="environmental-text">
                <h1 >Environmental Responsibility</h1>
                <p>In line with our ethos of environmental stewardship, our antimony mining operations are designed to minimize the ecological footprint, ensuring that we contribute towards a greener and more sustainable global industrial landscape.</p>
            </div>
        </div> 
    </div>
</div>
</template>
<style scoped>
.genh {
 
    max-height: 700px !important;
}
    .swiper-button-next,
    .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 40px; /* Increase width */
    height: 40px; /* Increase height */
    margin-top: -20px;
    background: none; /* Remove background */
    color: #333333 !important ;
    border: none; /* Remove border */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    }

    .swiper-button-prev::after {
        color: #333333 !important ;
        width : 50px;
        height : 85px;
    }

    .swiper-button-next::after {
        color: #333333 !important ;
        width: 50px;
        height: 85px;
    }

    .swiper-button-prev::before {
        color: #333333 !important ;
        width : 50px;
        height : 85px;
    }

    .swiper-button-next::before {
        color: #333333 !important ;
        width: 50px;
        height: 85px;
    }
    .swiper-button-prev {
        color: #333333 !important ;
        width : 50px;
        height : 85px;
    }

    .swiper-button-next {
    
        width: 50px;
        height: 85px;
    } 

    .swiper-button-prev::after {
    
        color: #333333 !important ;
    }
    .swiper-button-next::after {
        
        color: #333333 !important ;
    }
    .swiper-3d {
        perspective: 500px;
}
    .environmental{
        height: 100%;
    }
    .title {
        width: 500px;
        left: 50%;
        margin-left: -250px;
        position: relative;
        text-align: center !important;
    }
    .detail {
        width: 1000px;
        left: 50%;
        margin-left: -500px;
        position: relative;
    }
    .swiper-container {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        left: 0;
        margin-left: 0;
        position: relative;
    }
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 600px;
        height: 600px;
    }
    .swiper-slide > img {
        width: 100%;
        object-fit: none;
    }
    @media screen and (max-width: 960px) {
        .headco{
        font-size: large !important;
       }
        .pdetail{
            text-align: center !important;
            margin-left: 15px;
        }
        .title {
    
        text-align: center !important;
    }
        h1{
            text-align: center  !important;
        }
        p{
         
            text-align: center  !important;
        }
        .swiper-button-next,
        .swiper-button-prev {
             display: none !important;
        }
        .swiper-3d {
            perspective: 100% !important;
        }
        .banner-text {
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        .detail {
            width: 90%;
            left: 0;
            margin-left: 15px;
            position: relative;
            
        }
        .key-characteristics {
            width: 100%;
            margin-top: 50px;
            display: grid;
            align-items: center;
            justify-items: center;
        }
        .key-characteristics > p  {
           margin-left: 0px;
        }
        .key-icon-all {
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .key-icon img {
           width: 152px;
           position: relative;
           left: 50%;
           margin-left: -76px;
        }
        .key-icon p {
            width: 90%;
            text-align: center;
        }
        .global-supply {
            width: 100%;
            margin-top: 50px;
            text-align: center;
            display: grid;
            justify-items: center;
            
        }

        .global-supply p {
            width: 90%;
            
        }

        .global-supply > img {
            width: 100%;
            margin-top: 50px;
        }

        .quality-assurance {
            width: 100%;
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .quality-assurance p {
            width: 95%;
        }

        .quality-text {
            margin-left: 20px;
            margin-top: 75px;
            line-height: 35px;
        }
        .environmental-responsibility {
            position: relative;
            height: 900px;
        }
        .environmental-responsibility > img {
            width: 100%;
            height: 900px;
        }
        .environmental {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 0;
            left: 0;
            align-items: center;
            color: #ffffff !important;
        }
        .environmental-text > p {
            width: 90%;
            margin-left: 15px;
        }
    }
    @media screen and (max-width: 480px) {
       .headco{
        font-size: large !important;
       }
        .swiper-3d {
    perspective: 100% !important;
}
        .title {
            font-size: large !important;
     left: 0% !important;
    margin-left: 0px !important;
            text-align: center !important;
            width: 100%;
        }
        .swiper-slide {
            background-position: center;
            background-size: 300px 300px;
            width: 300px;
            height: 300px;
        }
        .swiper-slide > img {
            width: 100%;
            object-fit: fill;
        }
    }
</style>