<script>
    // Import Swiper Vue.js components
    import { Swiper, SwiperSlide } from 'swiper/vue';

    // Import Swiper styles
    import 'swiper/css';

    import 'swiper/css/navigation';

    // import required modules
    import { Navigation } from 'swiper/modules';

    export default {
  
        components: {
            Swiper,
            SwiperSlide,
        },
        created() {
            
        },
        mounted () {
            window.scrollTo(0, 0)
        },
        data() {
            return {
                name: '',
                modules: [Navigation],
                navigation:
                {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev"
                }
            }
        },
        methods: {
            
        },
    }
</script>
<template>
    <div class="swiper mySwiper" style="margin-top: -248px;">
        <swiper
        :navigation="true" 
        :modules="modules"
        :loop="true"
        :autoplay-delay="true"
        @swiper="onSwiper"
        @slideChange="onSlideChange"
        >
            <swiper-slide><img src="../assets/Desktop/1home/banner/Banner1.png" id="banner1" style="width: 100% !important;"></swiper-slide>
            <swiper-slide><img src="../assets/Desktop/1home/banner/Banner2.png" id="banner2" style="width: 100% !important;"></swiper-slide>
            <swiper-slide><img src="../assets/Desktop/1home/banner/Banner3.png" id="banner3" style="width: 100% !important;"></swiper-slide>
        </swiper>
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
    </div>
</template>
<style scoped>
    .swiper-button-next, .swiper-button-next::after {
        content: url('../assets/Desktop/1home/banner/Arrow-right.png') !important;
    }

    .swiper-button-prev, .swiper-button-prev::after {
        content: url('../assets/Desktop/1home/banner/Arrow-left.png') !important;
    }
</style>