<script>
    export default {
  
        components: {
        
        },
        created() {
            
        },
        mounted () {
            window.scrollTo(0, 0)
        },
        data() {
            return {
                name: '',
            }
        },
        methods: {
            
        },
    }
</script>
<template>
    <div class="banner" style="margin-top: -248px;">
        <img src="@/assets/Desktop/5Sustainability/Header-BG.png" alt="" class="onMobile_Header_s">
        <h1 class="font-black animate__animated animate__bounceInDown" style="top: 35%;">可持续性</h1>
    </div>
    <center>
    <div class="body-sus" >
        <div class="sustain" >
            <div class="sustain-img">
                <img src="@/assets/Desktop/5Sustainability/pic1.png" alt="">
            </div>
            <div class="sustain-text" id="sustain1">
                <h1 class="headco">倡导绿色革命</h1>
                <p>跟随我们一起追踪我们的锑矿石从缅甸原始土壤到全球各地工业的复杂旅程。</p>
            </div>
        </div>
        <div class="sustain" >
            <div class="sustain-text" id="sustain2">
                <h1 class="headco">社区繁荣与自然滋养</h1>
                <p>我们矿区周边的社区不仅仅是共存；它们在繁荣。通过从植树造林运动、支持可持续农业到可再生能源研讨会等一系列努力，我们确保人类与自然共生共荣。</p>
            </div>
            <div class="sustain-img">
                <img src="@/assets/Desktop/5Sustainability/pic2.png" alt="">
            </div>
        </div>
    </div>
</center>
    <hr>
</template>
<style scoped>

    .body-sus {
        width: 1400px;
    }
    .sustain-img {
        padding: 5px;
    }
    @media screen and (max-width: 960px) {
        .body-sus {
            width: 100%;
        }
        .font-black {
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        .sustain {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        #sustain2 {
            text-align: center;
        }
        .body-sus .sustain .sustain-img img {
            width: 100%;
        }
     }
</style>