<script>
    export default {
  
        components: {
        
        },
        created() {
            
        },
        mounted () {
            window.scrollTo(0, 0)
        },
        data() {
            return {
                name: '',
            }
        },
        methods: {
            
        },
    }
</script>
<template>
    <div class="banner" style="margin-top: -248px;">
        <img src="@/assets/Desktop/5Sustainability/Header-BG.png" alt="" class="onMobile_Header_s">
        <h1 class="font-black animate__animated animate__bounceInDown" style="top: 35%;">Sustainability</h1>
    </div>
    <center>
    <div class="body-sus" >
        <div class="sustain" >
            <div class="sustain-img">
                <img src="@/assets/Desktop/5Sustainability/pic1.png" alt="">
            </div>
            <div class="sustain-text" id="sustain1">
                <h1 class="headco">Championing Green Revolutions</h1>
                <p class="txt_detail">Journey with us as we trace the intricate voyage of our antimony ore, right from the virgin soils of Myanmar to industries across the globe.</p>
            </div>
        </div>
        <div class="sustain" >
            <div class="sustain-text" id="sustain2">
                <h1 class="headco">Community Flourish and Nature's Nourish</h1>
                <p class="txt_detail">Communities surrounding our mines don't just coexist; they thrive. Through endeavors ranging from afforestation crusades, sustainable agriculture support, to renewable energy seminars, we ensure that both humanity and nature flourish symbiotically.</p>
            </div>
            <div class="sustain-img">
                <img src="@/assets/Desktop/5Sustainability/pic2.png" alt="">
            </div>
        </div>
    </div>
</center>
    <hr>
</template>
<style scoped>

    .body-sus {
        width: 1400px;
    }
    .sustain-img {
        padding: 5px;
    }
    @media screen and (max-width: 960px) {
  
       .txt_detail{
        padding: 20px;
       }
        .body-sus {
            width: 100%;
        }
        .font-black {
            width: 100%;
            left: 0;
            margin-left: 0;
        }
        .sustain {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        #sustain2 {
            text-align: center;
        }
        .body-sus .sustain .sustain-img img {
            width: 100%;
        }
     }
</style>