<template>
  <footer class="footer">
    <div class="logo-footer">
      <img src="@/assets/logo/logo-antimony-grey.png" alt="">
    </div>
    <nav class="navbar2">
      <ul class="menu footer-list" :class="{ active: isActiveHammenu }" id="myMenu">
        <li class="footer-item" @click="link_home">
          首页
          <div class="col" :class="{ active: isActive('Home') }"></div>
        </li>
        <li class="footer-item" @click="link_about">
          关于我们
          <div class="col" :class="{ active: isActive('About') }"></div>
        </li>
        <li class="footer-item" @click="link_ourproduct">
          我们的产品
          <div class="col" :class="{ active: isActive('OurProduct') }"></div>
        </li>
        <li class="footer-item" @click="link_ourmine">
          我们的采矿过程
          <div class="col" :class="{ active: isActive('OurMine') }"></div>
        </li>
        <li class="footer-item" @click="link_sustainbility">
          可持续性
          <div class="col" :class="{ active: isActive('Sustainbility') }"></div>
        </li>
        <li class="footer-item item6" @click="link_contact">
          联系方式
          <div class="col" :class="{ active: isActive('Contact') }"></div>
        </li>
      </ul>
    </nav>
    <h6>关注我们</h6>
    <div class="icon-footer">
      <!-- Your social media icons go here -->
    </div>
  </footer>
</template>

<script>
export default {
  components: {},
  created() {
  
    this.checkActiveState();
  },
  watch: {
    $route: 'checkActiveState',
  },
  mounted() {
    window.scrollTo(0, 0);
  },
  data() {
    return {
      name: '',
      menu: 1,
      isActiveHome: true,
      isActiveAbout: false,
      isActiveOurProduct: false,
      isActiveOurMine: false,
      isActiveSustainability: false,
      isActiveContact: false,
      isActiveHammenu: false,
    };
  },
  methods: {
    checkActiveState() {
      // Get the current route name
      const currentRouteName = this.$route.name;

      // Update the active state based on the current route name
      switch (currentRouteName) {
        case 'Home':
          this.addActiveHome();
          break;
        case 'About':
          this.addActiveAbout();
          break;
        case 'OurProduct':
          this.addActiveOurProduct();
          break;
        case 'OurMine':
          this.addActiveOurMine();
          break;
        case 'Sustainability':
          this.addActiveSustainability();
          break;
        case 'Contact':
          this.addActiveContact();
          break;
        // Add more cases for other route names if needed
        default:
          // Handle default case or do nothing
          break;
      }
    },
    addActiveHome() {
      this.isActiveHome = true;
      this.resetActiveStatesExcept('isActiveHome');
    },
    addActiveAbout() {
      this.isActiveAbout = true;
      this.resetActiveStatesExcept('isActiveAbout');
    },
    addActiveOurProduct() {
      this.isActiveOurProduct = true;
      this.resetActiveStatesExcept('isActiveOurProduct');
    },
    addActiveOurMine() {
      this.isActiveOurMine = true;
      this.resetActiveStatesExcept('isActiveOurMine');
    },
    addActiveSustainability() {
      this.isActiveSustainability = true;
      this.resetActiveStatesExcept('isActiveSustainability');
    },
    addActiveContact() {
      this.isActiveContact = true;
      this.resetActiveStatesExcept('isActiveContact');
    },
    resetActiveStatesExcept(activeState) {
      // Reset all other active states
      const states = [
        'isActiveHome',
        'isActiveAbout',
        'isActiveOurProduct',
        'isActiveOurMine',
        'isActiveSustainability',
        'isActiveContact',
      ];

      states.forEach(state => {
        if (state !== activeState) {
          this[state] = false;
        }
      });

      // Reset hammenu state
      this.isActiveHammenu = false;
    },
    ActiveHammenu() {
      this.isActiveHammenu = !this.isActiveHammenu;
      console.log('Hammenu');
    },
    // Add placeholder methods for route navigation
    link_home() {
      const path = this.$route.path;
      if (path.includes('/ch')) {
        this.$router.push({ name: 'HomeCh' }).catch(() => {});
      } else {
        this.$router.push({ name: 'Home' }).catch(() => {});
      }
      this.addActiveHome();
    },
    link_about() {
      const path = this.$route.path;
      if (path.includes('/ch')) {
        this.$router.push({ name: 'AboutCh' }).catch(() => {});
      } else {
        this.$router.push({ name: 'About' }).catch(() => {});
      }
      this.addActiveAbout();
    },
    link_ourproduct() {
      const path = this.$route.path;
      if (path.includes('/ch')) {
        this.$router.push({ name: 'OurProductCh' }).catch(() => {});
      } else {
        this.$router.push({ name: 'OurProduct' }).catch(() => {});
      }
      this.addActiveOurProduct();
    },
    link_ourmine() {
      const path = this.$route.path;
      if (path.includes('/ch')) {
        this.$router.push({ name: 'OurMineCh' }).catch(() => {});
      } else {
        this.$router.push({ name: 'OurMine' }).catch(() => {});
      }
      this.addActiveOurMine();
    },
    link_sustainbility() {
      const path = this.$route.path;
      if (path.includes('/ch')) {
        this.$router.push({ name: 'SustainbilityCh' }).catch(() => {});
      } else {
        this.$router.push({ name: 'Sustainbility' }).catch(() => {});
      }
      this.addActiveSustainability();
    },
    link_contact() {
      const path = this.$route.path;
      if (path.includes('/ch')) {
        this.$router.push({ name: 'ContactCh' }).catch(() => {});
      } else {
        this.$router.push({ name: 'Contact' }).catch(() => {});
      }
      this.addActiveContact();
    },
    isActive(routeName) {
      return this.$route.name === routeName;
    },
  },
};
</script>

<style scoped>
@media screen and (max-width: 960px) {
  .navbar2 {
    width: 100%;
  }
}
</style>
