<template>
  <header class="header">
    <div class="logo" style="cursor: pointer;" @click="link_home">
      <img src="@/assets/logo/logo-antimony-white.png" alt="">
    </div>
    <nav class="navbar">
      <ul class="menu nav-list" :class="{ active: isActiveHammenu }" id="myMenu">
        <li class="nav-item" @click="link_home">
          <img src="@/assets/mobile/menu-bar/icon-home2.png" class="nav-icon">
          <span>Home</span>
          <div class="col" :class="{ active: isActive('Home') }"></div>
        </li>
        <li class="nav-item" @click="link_about">
          <img src="@/assets/mobile/menu-bar/icon-about2.png" class="nav-icon">
          <span>About us</span>
          <div class="col" :class="{ active: isActive('About') }"></div>
        </li>
        <li class="nav-item" @click="link_ourproduct">
          <img src="@/assets/mobile/menu-bar/icon-our-product2.png" class="nav-icon">
          <span>Our Products</span>
          <div class="col" :class="{ active: isActive('OurProduct') }"></div>
        </li>
        <li class="nav-item" @click="link_ourmine">
          <img src="@/assets/mobile/menu-bar/icon-our-mining2.png" class="nav-icon">
          <span>Our Mining Process</span>
          <div class="col" :class="{ active: isActive('OurMine') }"></div>
        </li>
        <li class="nav-item" @click="link_sustainbility">
          <img src="@/assets/mobile/menu-bar/icon-sustain2.png" class="nav-icon">
          <span>Sustainability</span>
          <div class="col" :class="{ active: isActive('Sustainbility') }"></div>
        </li>
        <li class="nav-item item6" @click="link_contact">
          <img src="@/assets/mobile/menu-bar/icon-contect2.png" class="nav-icon">
          <span>Contact</span>
          <div class="col" :class="{ active: isActive('Contact') }"></div>
        </li>
        <li class="nav-item" style="margin-right: 10px;">
          <img src="@/assets/logo/ch.png" style="max-width: 20px;cursor: pointer;" @click="changeLanguage('ch')"> 
        </li>
        <li class="nav-item" >
          <img src="@/assets/logo/en.png" style="max-width: 20px;cursor: pointer;" @click="changeLanguage('en')"> 
        </li>
      </ul>
    </nav>
    <div class="ham-menu" :class="{ active: isActiveHammenu }" @click="ActiveHammenu">
      <img src="@/assets/mobile/icon-hamburger.png" alt="">
    </div>

  </header>
</template>

<script>
export default {
  components: {},
  created() {
    // Call the method to check the active state based on the current URL
    this.checkActiveState();
  },
  watch: {
    $route: 'checkActiveState', // Watch for changes in the route and update the active state
  },
  data() {
    return {
      name: '',
      isActiveHome: false,
      isActiveAbout: false,
      isActiveOurProduct: false,
      isActiveOurMine: false,
      isActiveSustainability: false,
      isActiveContact: false,
      isActiveHammenu: false,
    };
  },
  methods: {
    changeLanguage(lang) {
      // Check if the current path contains '/ch'
      const path = window.location.pathname;
      const newPath = lang === 'ch' ? `${path}/ch` : path.replace('/ch', '');
      
      // Redirect to the new path
      window.location.href = newPath;
    },
    checkActiveState() {
      // Get the current route name
      const currentRouteName = this.$route.name;

      // Update the active state based on the current route name
      switch (currentRouteName) {
        case 'Home':
          this.addActiveHome();
          break;
        case 'About':
          this.addActiveAbout();
          break;
        case 'OurProduct':
          this.addActiveOurProduct();
          break;
        case 'OurMine':
          this.addActiveOurMine();
          break;
        case 'Sustainbility':
          this.addActiveSustainability();
          break;
        case 'Contact':
          this.addActiveContact();
          break;
    
        default:
      
          break;
      }
    },
    addActiveHome() {
      this.resetActiveStatesExcept('isActiveHome');
    },
    addActiveAbout() {
      this.resetActiveStatesExcept('isActiveAbout');
    },
    addActiveOurProduct() {
      this.resetActiveStatesExcept('isActiveOurProduct');
    },
    addActiveOurMine() {
      this.resetActiveStatesExcept('isActiveOurMine');
    },
    addActiveSustainability() {
      this.resetActiveStatesExcept('isActiveSustainability');
    },
    addActiveContact() {
      this.resetActiveStatesExcept('isActiveContact');
    },
    resetActiveStatesExcept(activeState) {
      // Reset all other active states
      const states = [
        'isActiveHome',
        'isActiveAbout',
        'isActiveOurProduct',
        'isActiveOurMine',
        'isActiveSustainability',
        'isActiveContact',
      ];

      states.forEach(state => {
        this[state] = state === activeState;
      });

      // Reset hammenu state
      this.isActiveHammenu = false;
    },
    ActiveHammenu() {
      this.isActiveHammenu = !this.isActiveHammenu;
      console.log('Hammenu');
    },
    isActive(routeName) {
      return this.$route.name === routeName;
    },
    // Add placeholder methods for route navigation
    link_home() {
      this.$router.push({ name: 'Home' }).catch(() => {});
    },
    link_about() {
      this.$router.push({ name: 'About' }).catch(() => {});
    },
    link_ourproduct() {
      this.$router.push({ name: 'OurProduct' }).catch(() => {});
    },
    link_ourmine() {
      this.$router.push({ name: 'OurMine' }).catch(() => {});
    },
    link_sustainbility() {
      this.$router.push({ name: 'Sustainbility' }).catch(() => {});
    },
    link_contact() {
      this.$router.push({ name: 'Contact' }).catch(() => {});
    },
  },
};
</script>

<style scoped>
    
</style>