<template>
  <header class="header">
    <div class="logo" style="cursor: pointer;" @click="link_home">
      <img src="@/assets/logo/logo-antimony-white.png" alt="">
    </div>
    <nav class="navbar">
      <ul class="menu nav-list" :class="{ active: isActiveHammenu }" id="myMenu">
        <li class="nav-item" @click="link_home">
          <img src="@/assets/mobile/menu-bar/icon-home2.png" class="nav-icon">
          <span>首页</span>
          <div class="col" :class="{ active: isActive('Home') }"></div>
        </li>
        <li class="nav-item" @click="link_about">
          <img src="@/assets/mobile/menu-bar/icon-about2.png" class="nav-icon">
          <span>我们的产品</span>
          <div class="col" :class="{ active: isActive('About') }"></div>
        </li>
        <li class="nav-item" @click="link_ourproduct">
          <img src="@/assets/mobile/menu-bar/icon-our-product2.png" class="nav-icon">
          <span>我们的产品</span>
          <div class="col" :class="{ active: isActive('OurProduct') }"></div>
        </li>
        <li class="nav-item" @click="link_ourmine">
          <img src="@/assets/mobile/menu-bar/icon-our-mining2.png" class="nav-icon">
          <span>我们的采矿过程</span>
          <div class="col" :class="{ active: isActive('OurMine') }"></div>
        </li>
        <li class="nav-item" @click="link_sustainbility">
          <img src="@/assets/mobile/menu-bar/icon-sustain2.png" class="nav-icon">
          <span>可持续性</span>
          <div class="col" :class="{ active: isActive('Sustainbility') }"></div>
        </li>
        <li class="nav-item item6" @click="link_contact">
          <img src="@/assets/mobile/menu-bar/icon-contect2.png" class="nav-icon">
          <span>联系方式</span>
          <div class="col" :class="{ active: isActive('Contact') }"></div>
        </li>
        <li class="nav-item" style="margin-right: 10px;">
          <img src="@/assets/logo/ch.png" style="max-width: 20px;cursor: pointer;" @click="changeLanguage('ch')"> 
        </li>
        <li class="nav-item">
          <img src="@/assets/logo/en.png" style="max-width: 20px;cursor: pointer;" @click="changeLanguage('en')"> 
        </li>
      </ul>
    </nav>
    <div class="ham-menu" :class="{ active: isActiveHammenu }" @click="ActiveHammenu">
      <img src="@/assets/mobile/icon-hamburger.png" alt="">
    </div>
  </header>
</template>
<script>
export default {
  components: {},
  created() {
    // Call the method to check the active state based on the current URL
    this.checkActiveState();
  },
  watch: {
    $route: 'checkActiveState', // Watch for changes in the route and update the active state
  },
  mounted() {
    window.scrollTo(0, 0);
  },
  data() {
    return {
      name: '',
      menu: 1,
      isActiveHome: true,
      isActiveAbout: false,
      isActiveOurProduct: false,
      isActiveOurMine: false,
      isActiveSustainability: false,
      isActiveContact: false,
      isActiveHammenu: false,
    };
  },
  methods: {
    changeLanguage(lang) {
      // Get the current path
      let path = window.location.pathname;

      // Check if the current path already contains '/ch'
      const isChinese = path.endsWith('/ch');

      // If the language to change is Chinese and the path doesn't end with '/ch', add '/ch'
      if (lang === 'ch' && !isChinese) {
        path += '/ch';
      }

      // If the language to change is English and the path ends with '/ch', remove '/ch'
      if (lang === 'en' && isChinese) {
        path = path.slice(0, -3); // Remove the last 3 characters ('/ch')
      }

      // Redirect to the new path
      window.location.href = path;
    },
    checkActiveState() {
      // Get the current route name
      const currentRouteName = this.$route.name;

      // Update the active state based on the current route name
      switch (currentRouteName) {
        case 'Home':
          this.addActiveHome();
          break;
        case 'About':
          this.addActiveAbout();
          break;
        case 'OurProduct':
          this.addActiveOurProduct();
          break;
        case 'OurMine':
          this.addActiveOurMine();
          break;
        case 'Sustainability':
          this.addActiveSustainability();
          break;
        case 'Contact':
          this.addActiveContact();
          break;
        // Add more cases for other route names if needed
        default:
          // Handle default case or do nothing
          break;
      }
    },
    addActiveHome() {
      this.isActiveHome = true;
      this.resetActiveStatesExcept('isActiveHome');
    },
    addActiveAbout() {
      this.isActiveAbout = true;
      this.resetActiveStatesExcept('isActiveAbout');
    },
    addActiveOurProduct() {
      this.isActiveOurProduct = true;
      this.resetActiveStatesExcept('isActiveOurProduct');
    },
    addActiveOurMine() {
      this.isActiveOurMine = true;
      this.resetActiveStatesExcept('isActiveOurMine');
    },
    addActiveSustainability() {
      this.isActiveSustainability = true;
      this.resetActiveStatesExcept('isActiveSustainability');
    },
    addActiveContact() {
      this.isActiveContact = true;
      this.resetActiveStatesExcept('isActiveContact');
    },
    resetActiveStatesExcept(activeState) {
      // Reset all other active states
      const states = [
        'isActiveHome',
        'isActiveAbout',
        'isActiveOurProduct',
        'isActiveOurMine',
        'isActiveSustainability',
        'isActiveContact',
      ];

      states.forEach(state => {
        if (state !== activeState) {
          this[state] = false;
        }
      });

      // Reset hammenu state
      this.isActiveHammenu = false;
    },
    ActiveHammenu() {
      this.isActiveHammenu = !this.isActiveHammenu;
      console.log('Hammenu');
    },
    // Add placeholder methods for route navigation
    link_home() {
      const path = this.$route.path;
      if (path.includes('/ch')) {
        this.$router.push({ name: 'HomeCh' }).catch(() => {});
      } else {
        this.$router.push({ name: 'Home' }).catch(() => {});
      }
      this.addActiveHome();
    },
    link_about() {
      const path = this.$route.path;
      if (path.includes('/ch')) {
        this.$router.push({ name: 'AboutCh' }).catch(() => {});
      } else {
        this.$router.push({ name: 'About' }).catch(() => {});
      }
      this.addActiveAbout();
    },
    link_ourproduct() {
      const path = this.$route.path;
      if (path.includes('/ch')) {
        this.$router.push({ name: 'OurProductCh' }).catch(() => {});
      } else {
        this.$router.push({ name: 'OurProduct' }).catch(() => {});
      }
      this.addActiveOurProduct();
    },
    link_ourmine() {
      const path = this.$route.path;
      if (path.includes('/ch')) {
        this.$router.push({ name: 'OurMineCh' }).catch(() => {});
      } else {
        this.$router.push({ name: 'OurMine' }).catch(() => {});
      }
      this.addActiveOurMine();
    },
    link_sustainbility() {
      const path = this.$route.path;
      if (path.includes('/ch')) {
        this.$router.push({ name: 'SustainbilityCh' }).catch(() => {});
      } else {
        this.$router.push({ name: 'Sustainbility' }).catch(() => {});
      }
      this.addActiveSustainability();
    },
    link_contact() {
      const path = this.$route.path;
      if (path.includes('/ch')) {
        this.$router.push({ name: 'ContactCh' }).catch(() => {});
      } else {
        this.$router.push({ name: 'Contact' }).catch(() => {});
      }
      this.addActiveContact();
    },
    isActive(routeName) {
      return this.$route.name === routeName;
    },
  },
};
</script>
 

<style scoped>
    
</style>