<template>
  <div id="app">
    <component :is="headerComponent" @change-language="changeLanguage"></component>
    <div class="main_content">
      <RouterView></RouterView>
    </div>
    <component :is="footerComponent"></component>
  </div>
</template>

<script setup>
import { useRouter } from 'vue-router';
import HeaderPage from '@/components/Header.vue';
import HeaderPageCh from '@/components/HeaderCh.vue';
import FooterPage from '@/components/Footer.vue';
import FooterPageCh from '@/components/FooterCh.vue';
import 'swiper/css';

const router = useRouter();

const changeLanguage = (lang) => {
  const path = router.currentRoute.value.path;
  const newPath = lang === 'ch' ? `${path}/ch` : path.replace('/ch', '');
  router.push(newPath);
};

const headerComponent = computed(() => router.currentRoute.value.path.includes('/ch') ? HeaderPageCh : HeaderPage);
const footerComponent = computed(() => router.currentRoute.value.path.includes('/ch') ? FooterPageCh : FooterPage);
</script>

<script>
import { onUnmounted, computed } from 'vue';

export default {
  name: 'App',
  setup() {
    const unmount = onUnmounted(() => {
      // Cleanup logic here
      unmount(); // Prevent memory leaks
    });

    const changeLanguage = (lang) => {
      this.$emit('change-language', lang);
    };

    return {
      changeLanguage
    };
  }
}
</script>

<style>
html, body {
  scroll-padding-top: 80px !important;
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
  url(./fonts/inter/Inter-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
  url(./fonts/inter/Inter-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
  url(./fonts/roboto/Roboto-Bold_0.ttf) format("truetype");
}

.main_content {
  width: 100%;
  top: 124px;
  left: 0;
  margin-bottom: 200px;
  margin-left: 0;
  min-height: 800px;
  position: relative;
  z-index: 99;
}

/*========================================================
                        View Port 1400
========================================================*/
@media screen and (max-width: 1400px) {
  .main_content {
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    min-height: 1000px;
    position: relative;
    z-index: 99;
    top: 60px;
  }
}
/*========================================================
                        View Port 480
========================================================*/
@media screen and (max-width: 480px) {
  .main_content {
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
    min-height: 800px;
    position: relative;
    z-index: 99;
    top: 100px;
  }
}
</style>
