:root {
  --orange: #FF9900;
  --black: #130f40;
  --white: #FFFFFF;
  --light-colour: #858584;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --border: .2rem solid rgba(0, 0, 0, .1);
  --outline: .1rem solid rgba(0, 0, 0, .1);
  --outline-hover: .2rem solid var(--black);
  --green: #a9b388;
  --camel: #b99470;
  --gray: #818181;
  --blue: linear-gradient(180deg, rgba(66, 167, 195, 0.84), rgba(0, 0, 0, 0));
  --gray-linear: linear-gradient(180deg, #FFFFFF 0%, #9B9B9B 100%);
}


@font-face {
  font-family: Inter-Regular;
  src: url(../Font/inter/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: Inter-SemiBold;
  src: url(../Font/inter/Inter-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../Font/roboto/Roboto-Bold_0.ttf) format("truetype");
}


.nav-item > .col.active {
    width: 30px;
    margin-top: 2px;
    border-bottom: 2px solid #01c5fb !important;
}

.headco{
  font-family: 'Inter', sans-serif  !important; 
  font-weight: 600;  /*Semi-Bold*/
  color : #2D3134 !important;
  
} 
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-family: Inter-Regular;
}

h1 {
  font-family: Inter-SemiBold;
  font-size: 56px;
  margin: 0;
}

h2 {
  font-family: Inter-SemiBold;
  font-size: 45px;
}

h3 {
  font-family: Roboto-Bold;
  font-size: 96px;
}

h4 {
  font-family: Roboto-Bold;
  font-size: 64px;
}

h5 {
  font-family: Inter-SemiBold;
  font-size: 20px;
}

h6 {
  font-family: Inter-SemiBold;
  font-size: 16px;
}

/***************************************************************** header ************************************************/
.header {
  height: 124px;
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: relative;
}

.logo {
  margin-right: 30px;
  margin-bottom: 0px;
}

.logo img {
  width : auto;
  height: 91px;
}

.logo-footer {
  margin-right: 0px;
  margin-bottom: 0px;
}

.logo-footer img {
  width : auto;
  height: 97px;
}

/***************************************************************** navbar ************************************************/
.navbar {
  /* color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; */
}

.footer-list {
  list-style: none;
  display: flex;
  padding: 0;
  
  /* margin-left: 65px; */
  margin: 0;
}

.footer-item {
  margin-right: 54px;
  display: flex;
  flex-direction: column;
}

.footer-item span {
  font-size : 20px;
  text-decoration: none;
  color: #fff;
  font-family: Inter-Regular;
  cursor: pointer;
}

.footer-item > .col.active {
  width: 30px;
  margin-top: 2px;
  border-bottom: 2px solid #01c5fb;
}



.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  
  /* margin-left: 65px; */
  margin: 0;
}

.nav-item {
  margin-right: 36px;
  display: flex;
  flex-direction: column;
}

.nav-item span {
  font-size : 20px;
  text-decoration: none;
  color: #fff;
  font-family: Inter-Regular;
  cursor: pointer;
}

.nav-item > .col.active {
  width: 30px;
  margin-top: 2px;
  border-bottom: 2px solid #fff;
}

.nav-underline {
  background: #FFFFFF;
  height: 2px;
  width: 36px;
  position: absolute;
  transition: 0.3s ease-in-out;
  margin-top: 6px;
}

.nav-icon {
  display: none;
}

.content {
  padding: 20px;
}

.active .nav-underline {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-item:hover .nav-underline {
  transform: scaleX(1);
  transform-origin: left;
}

.ham-menu {
  display: none;
}



/***************************************************************** slide ************************************************/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
 
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next {
  right: 109px !important;
}

.swiper-button-prev {
  left: 109px !important;
}






/***************************************************************** หน้า Home (.body-home) ************************************************/
.body-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 37px;
  background: url('assets/Desktop/1home/body/Line-dot-BG.png');
  background-size: cover;
}

.body-home .overlay {
  position: absolute;
  text-align: center;
}

.body-home-main {
  display: inline-flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* height: 682px; */
  padding: 47px;
}

.image-container {
  width: 100%;
  max-width: 552px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.box-text {
  max-width: 567px;
  margin-left: 48px;
}

.box-text h1 {
  /* max-width: 356px; */
}

.body-home-sub {
  display: inline-flex;
  align-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-wrap: nowrap;
  padding: 20px 47px;
}

.slide {
  position: relative;
}

.slide .swiper-slide {
  border-radius: 25%;
}

.slide .swiper-slide img {
  border-radius: 25px;
}

.mySwiper2 {
  max-width: 680px !important;
  margin-top: 0px;

}

.swiper-button .swiper-button-next {
  right: 85px !important;
}

.swiper-button .swiper-button-prev {
  left: 85px !important;
}

.swiper-button .swiper-button-next::after {
  content: url('assets/Desktop/1home/body/arrow-right-testimonial.png') !important;
}

.swiper-button .swiper-button-prev::after {
  content: url('assets/Desktop/1home/body/arrow-left-testimonial.png') !important;
}

#section2-bg {
  object-fit: cover;
  max-width: 100%;
  height: 807px;
}

#section2 .box-text {
  max-width: 1000px;
  margin-left: 0px;
  text-align: center;
}


.footer {
  height: 289px;
  color: #2D3134;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.footer .logo {
  margin: 0;
  margin-bottom: 47px;
}

.footer .nav-item2 a {
  text-decoration: none;
  color: #2D3134;
  font-family: Inter-Regular;
}

.footer .nav-underline {
  background: #48B7D6;
  height: 2px;
  width: 12px;
  position: absolute;
  transition: 0.3s ease-in-out;
  margin-top: 6px;
}

.footer h6 {
  margin-bottom: 17px;
}

.nav-list2 {
  width: 700px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .navbar2 {
  display: flex;
  justify-content: center;
}

.navbar2 li {
  cursor: pointer;
}

.icon-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding-bottom: 80px;
  padding-top: 10px;
}

.icon-ft {
  display: flex;
}

.icon-ft img {
  max-width: 40px;
}


/***************************************************************** หน้า about us ************************************************/
.banner {
  margin-top: -124px;
  position: relative;
}

.banner img {
  max-width: 100%;
}

.banner h4 {
  /* position: absolute;
  top: 100px;
  left: 45%; */
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.body-about {
  position: relative;
  max-width: 100%;
  display: grid;
  justify-items: center;
  /* z-index: 9999;
  position: absolute;
  top: 40%;
  left: 0; */
}

.about {
  display: flex;
  padding: 31px;
  align-items: center;
  /*justify-content: center;*/
  /* width: 1300px; */
}

/* .body-about #about1 {
  display: flex;
  justify-content: flex-end;
}

.body-about #about2 {
  display: flex;
  justify-content: flex-start;
}

.body-about #about3 {
  display: flex;
  justify-content: flex-end;
} */

.since {
  display: flex;
  align-items: center;
  margin-top: 29px;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid;
  border-color: #CECECE;
  margin-right: 21px;
}

.text-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-about h1 {
  max-width: 404px;
}

.text-about p {
  max-width: 514px;
}
.img-about{
  max-width: 525px;
}

.img-about img {
  /* position: absolute;
  top: -58px;
  max-width: 477px; */
  width: 100%;
}
#about-us-mb{
  display: none;
}
.circle-text{
  display: grid;
}
.circle-text .text-top{
  color: #000000;
  font-size: 18px;
  font-family: Inter-SemiBold;
}
.circle-text .text-bottom{
  color: #8E8B8C;
  font-size: 14px;
}


/***************************************************************** หน้า our product ************************************************/
.banner h3 {
  /* position: absolute;
  top: 130px;
  left: 40%; */
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.body-antimony {
  display: grid;
  align-items: center;
  justify-items: center;
}

.body-antimony h1 {
  text-align: center;
}

.body-antimony p {
  max-width: 919px;
  text-align: center;
  font-family: Inter-Regular;
  color: #5B5F62;
  font-size: 20px;
}
.mining-img{
  width: 100%;
  /* display: contents; */
  /* justify-content: center; */
  position: relative;
}
.object-box{
  width: 100%;
  position: absolute;
  top: 30%;
}
.object-show{
  text-align: center;
}
.object-all {
  display: flex;
  /* justify-content: space-between; */
  /* gap: 740px; */
  list-style: none;
  opacity: 50%;
  /* position: absolute; */
  cursor: pointer;
  gap: 50%;
  justify-content: center;
}
.object-all .object{
  max-width: 290px;
}

.object img {
  width: 100%;
  /* max-width: 290px; */
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 1));
}

.object-show img {
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 1));
  width: 100%;
}

.object.active {
  display: none;
}

.key-characteristics {
  margin-top: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.key-icon-all {
  margin-top: 50px;
  display: flex;
  width: 1090px;
  justify-content: space-evenly;
}

.key-icon h5 {
  text-align: center;
}

.key-icon p {
  width: 175px;
  text-align: center;
}

.global-supply {
  margin-top: 50px;
  text-align: center;
  display: grid;
  justify-items: center;
}

.global-supply p {
  width: 975px;
}

.global-supply > img {
  margin-top: 50px;
}

.quality-assurance {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.quality-assurance p {
  max-width: 624px;
}

.quality-text {
  margin-left: 50px;
  margin-top: 75px;
  line-height: 35px;
}

.environmental-responsibility {
  position: relative;
}

.environmental-responsibility > img {
  width: 100%;
}
.environmental {
  text-align: center;
}
.environmental-text {
  text-align: center;
}

.environmental-text > p {
  width: 991px;
}

.environmental {
  position: absolute;
  display: flex;
  top: 0;
  left: 10%;
  align-items: center;
  color: #ffffff;
}


/***************************************************************** หน้า Our  Mining Process ************************************************/
.banner-text {
  width: 1000px;
  position: absolute;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  left: 50%;
  margin-left: -500px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-text p {
  max-width: 896px;
}

.body-mining h1 {
  text-align: center;
}

.body-mining .row-all {
  display: grid;
  justify-items: center;
}

.body-mining .row-all .row {
  display: flex;
  align-items: center;
  gap: 149px;
}

.body-mining .row-all .row .row-text {
  max-width: 520px;
}

.line-center {
  width: 1934px;
  height: 0px;
  left:
      969px;
  top: 950px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: 0 0;
  border: 5px rgba(96, 97, 112, 0.10) solid;
}

#row1 h1,
#row2 h1,
#row5 h1 {
  text-align: start;
}

#row1 p,
#row2 p,
#row5 p {
  text-align: start;
}

#row3 h1,
#row4 h1 {
  text-align: end;
}

#row3 p,
#row4 p {
  text-align: end;
}

#row2 {
  margin-top: -115px;
}

#row3 .row-img img {
  max-width: 548px;
}

#ellipse1 {
  width: 35px;
  height: 35px;
  left: 946px;
  top: 1046px;
  position: absolute;
  background: #5B5F62;
  border-radius: 9999px
}

#ellipse2 {
  width: 35px;
  height: 35px;
  left: 946px;
  top: 1430px;
  position: absolute;
  background: #5B5F62;
  border-radius: 9999px
}

#ellipse3 {
  width: 35px;
  height: 35px;
  left: 946px;
  top: 1860px;
  position: absolute;
  background: #5B5F62;
  border-radius: 9999px
}

#ellipse4 {
  width: 35px;
  height: 35px;
  left: 946px;
  top: 2260px;
  position: absolute;
  background: #5B5F62;
  border-radius: 9999px
}

#ellipse5 {
  width: 35px;
  height: 35px;
  left: 946px;
  top: 2750px;
  position: absolute;
  background: #5B5F62;
  border-radius: 9999px
}

/***************************************************************** หน้า Sustainbility ************************************************/
.banner .font-black {
  width: 1000px;
  position: absolute;
  color: #2D3134;
  text-shadow: 0px 4px 4px #ffffff;
  top: 300px;
  left: 50%;
  margin-left: -500px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.body-sus {
  /* margin-top: -250px; */
}

.body-sus .sustain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 61px;
}

.body-sus .sustain p {
  max-width: 848px;
}

.body-sus .sustain h1 {
  max-width: 871px;
}

.body-sus .sustain .sustain-img img {
  max-width: 624px;
}

#sustain2 {
  text-align: right;
}


/***************************************************************** หน้า contect us ************************************************/
#banner6 .banner-text {
  
  position: absolute;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 50px;
  text-align: center;
}

#banner6 .banner-text h2 {
  max-width: 1248px;
}

#banner6 .banner-text p {
  max-width: 987px;
}

.body-contect h1 {
  line-height: 150px;
  text-align: center;
}

.map {
  display: flex;
  justify-content: center;
  gap: 111px;
  align-items: center;
}

.map-text-sub h2 {
  margin-bottom: 0;
}

.map-text-sub p {
  max-width: 599px;
}

/***************************************************************** หน้า media  ************************************************/
/* home */
@media screen and (max-width: 960px) {
  .footer-list {
    padding:30px;
    margin-right:10px;
    flex-direction: column;
}
.swiper-slide img {
   min-height: 0px !important;
}
.swiper-slide img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  align-items: center !important;
}

.footer-item {
    padding:10px;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 0px !important;
}
  ._About[data-v-f22b56f8] {
    margin-top: 0px !important;
    z-index: 44 !important;
}
  .onMobile_Header{
    height:350px;
    width:100%;
  }
  .onMobile_Header_OP{
    height:400px;
    width:100%;
  }

  .onMobile_Header_OMP{
    height:600px;
    width:100%;
  }

  .onMobile_Header_s{
    height:400px;
    width:100%;
  }
  .header {
    height: 185px !important;
  }

  .banner {
    min-height: 350px;
    margin-top: -300px !important;
}
  .nav-item > .col.active {
   display: none !important;
}
.swiper-slide img {
 
  min-height: 960px ;
 
}
.Res_phone{
  width:100% !important;
}
  .body-home-main img {
      max-width: 100%;
      width: 344px;
  }

  .nav-list {
    top: -600px ;
}
.nav-item.active span {
  text-decoration: underline !important;
}
 

  .body-home-sub img {
      width: 100%;
      max-width: 304px;
  }

  .footer {
      height: 289px;
      color: #2D3134;
      text-align: center;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      padding: 73px 0px; 
  }

  .footer .nav-list2 {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: center;
      flex-direction: column;
      gap: 49px;
  }

  .footer .nav-list2 .nav-item2 {
      margin-right: 0px;
  }


  .ham-menu {
      display: block;
      z-index: 999;
      margin-right: 41px;
      content: url(@/assets/mobile/icon-hamburger1.png);
      cursor: pointer;
  }

  .ham-menu.active {
      content: url(@/assets/mobile/icon-hamburger2.png);
  }

  #nav-check:checked~nav {
      top: -422px;
  }

  .nav-item {
    flex-direction: row;
    
  }

  

  .nav-item > img {
    width: 20px;
    height: 20px;
    top: 4px;
    padding-left: 50px;
    padding-right: 10px;
    position: relative;
  }

  .body-home-main {

    margin-top: 200px;
}

  .nav-list {
      display: block;
      position: absolute;
      top: -600px;
      background: rgb(255, 255, 255);
      right: 0;
      transition: 0.4s;
  }

  .nav-list.active {
      display: block;
      position: absolute;
      top: 0;
      background: rgb(255, 255, 255);
      right: 0;
      transition: 0.4s;
      width:100%;
  }

  .header .navbar {
      /* position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
      width: 350px;
      height: 413px;
      background: #ff7474;
      transition: 0.2s;
      display: none; */
  }

  .header .navbar ul {
      /* display: block; */
      padding: 70px 20px;

  }

  .header .navbar ul li {
      padding: 16px 0px;

  }

  .ham-menu:active img {
      /* content: url(../mobile/icon-hamburger2.png); */
  }

  .nav-underline {
      display: none;
  }

  .header {
      height: 124px;
      background: var(--blue);
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 999;
      position: relative;
  }

  .logo {
      margin-right: 65px;
      margin-left: 41px;
  }

  .body-home-main {
      padding: 47px;
  }

  .body-home-sub {
      padding: 20px 47px;
  }

  h1 {
      font-family: Inter-SemiBold;
      font-size: 40px;
      margin: 0;
  }

  .mySwiper2 {
      max-width: 500px !important;
      margin-top: 0px;
  }

  .image-container {
      width: 100%;
      max-width: 552px;
  }

  .box-text {
      max-width: 298px;
      margin-left: 48px;
  }

  .nav-icon {
      width: 15px;
      font-size: 15px;
      display: flex;
  }

  .nav-item > span {
      text-decoration: none;
      color: #fff;
      font-family: Inter-Regular;
      color: #000000;
      display: flex;
      align-items: center;
      gap: 20px;
      
  }
  #about-us-banner{
      /* content: url(../Tablet/2About-us/header.png); */
  }
  .body-antimony p{
      padding: 58px;
  }
  .banner h3{
      font-size: 64px;
  }
}

@media screen and (max-width: 834px) {
  #about-us-banner{
      content: url(../Tablet/2About-us/header.png);
  }
}
@media screen and (max-width: 660px) {
  h4 {
      font-family: Roboto-Bold;
      font-size: 46px;
  }
  .body-home-main img {
      /* width: 100%;
      max-width: 223px; */
  }

  .body-home-sub img {
      width: 100%;
      max-width: 223px;
  }

  .mySwiper2 #text1 {
      content: url(../mobile/1home/body/test1.png);
  }

  .mySwiper2 #text2 {
      content: url(../mobile/1home/body/test2.png);
  }

  .mySwiper2 {
      max-width: 277px !important;
      margin-top: 0px;
  }

  .box-text h1 {}

  .body-home-main {
      display: flex;
      align-content: center;
      align-items: center;
      flex-wrap: nowrap;
      /* height: 682px; */
      padding: 47px;
      flex-direction: column;
  }

  .body-home-sub {
      display: flex;
      align-content: center;
      align-items: center;
      /* flex-wrap: wrap; */
      flex-wrap: nowrap;
      padding: 20px 0px;
      flex-direction: column;
  }

  .image-container {
      width: 100%;
      max-width: 552px;
      display: flex;
      justify-content: center;
  }

  .body-home-sub img {
      width: 100%;
      max-width: 344px;
  }

  .box-text {
      max-width: 600px;
      margin-left: 0px;
      padding: 20px 30px;
      text-align: center;
  }

  #body-home-sub1,
  #body-home-sub2 {
      display: flex;
      align-content: center;
      align-items: center;
      /* flex-wrap: wrap; */
      flex-wrap: nowrap;
      padding: 0px 0px;
      flex-direction: column-reverse;
  }

  #body-home-sub2 {
    margin-bottom: 100px;
  }
 
  #banner1{
      content: url(../Tablet/1Home/Banner/Banner1.png);
  }
  #banner2{
      content: url(../Tablet/1Home/Banner/Banner2.png);
  }
  #banner3{
      content: url(../Tablet/1Home/Banner/Banner3.png);
  }
  .swiper-button-prev::after {
      content: url(../mobile/1home/Banner/Arrow-left.png) !important;
  }
  .swiper-button-next::after {
      content: url(../Tablet/1Home/Banner/Arrow-right.png) !important;
  }
  .swiper-button-prev {
      left: 39px !important;
  }
  .swiper-button-next {
      right: 39px !important;
  }


  .swiper-button .swiper-button-prev {
      left: 25px !important;
  }
  .swiper-button .swiper-button-next {
      right: 25px !important;
  }
  .banner-text {
      position: absolute;
      color: #ffffff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      top: 58%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }

  .about {
      display: flex;
      padding: 31px;
      align-items: center;
      /* justify-content: center; */
      /* width: 1300px; */
      flex-direction: column;
  }
  
  #about-us-mb{
      display: block;
  }
  #about-us-pc{
      display: none;
  }
  .banner h3{
      font-size: 64px;
  }


}
@media screen and (max-width: 420px) {
  #banner1{
      content: url(../mobile/1home/Banner/banner1.png);
  }
  #banner2{
      content: url(../mobile/1home/Banner/banner2.png);
  }
  #banner3{
      content: url(../mobile/1home/Banner/banner3.png);
  }
  .swiper-button-prev {
      left: 25px !important;
  }
  .swiper-button-next {
      right: 25px !important;
  }
  .swiper-button-prev::after {
      content: url(../mobile/1home/Banner/Arrow-left.png) !important;
  }
  .swiper-button-next::after {
      content: url(../mobile/1home/Banner/Arrow-right.png) !important;
  }


  .swiper-button .swiper-button-prev {
      left: 19px !important;
  }
  .swiper-button .swiper-button-next {
      right: 19px !important;
  }
  #about-us-banner{
      content: url(../mobile/2About-us/Header-bg.png);
  }
  .circle {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 2px solid;
      border-color: #CECECE;
      margin-right: 21px;
  }

}